<!-- Cart template -->
<section class="cart-page">

    <div class="container">

    {% if cart.item_count > 0 and store.checkout_enabled == true %}

    <div class="row">

        <div class="col-12 text-center">

            <h2 class="section-title">{{ title }}</h2>

            {% if settings.options.cart_instruction %}

                <p class="shipping-instruction">
                    {{ settings.options.cart_instruction }}
                </p>

            {% endif %}

            <hr class="hr-small mb-4">

        </div>

        <div class="col-12">

            {% if cart_error_messages | length > 0  %}
            <div class="alert alert-danger">

                 <ul class="list-group mb-0">
                    {% for error_message in cart_error_messages %}
                        <li class="list-group-item border-0 bg-transparent p-0">{{ error_message }}</li>
                    {% endfor %}
                </ul>
                
            </div>
            {% endif %}

        </div>

        <div class="col-12">

            {{ form_open('cart', { method: 'post' }) }}

            <div class="table-responsive">

                <table class="table cart-table">

                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in cart.items %}
                            {% if item.is_bundle == true %}
                                {% set totalBundleCompareAtPrice = 0 %}
                                {% set totalBundleSavePrice = 0 %}
                                {% set bundlesSavePrice = 0 %}
                                {% for item_bundle in item.bundle_products %}
                                    {% set compareAtPrice = item_bundle.total_compare_at_price %}
                                    {% set bundlePrice = item_bundle.total %}
                                    {% set bundlesSavePrice = compareAtPrice - bundlePrice %}
                                    {% if bundlesSavePrice < 0 %}
                                        {% set bundlesSavePrice = 0 %}
                                    {% endif %}
                                    {% set savePrice = compareAtPrice - bundlePrice %}
                                    {% set totalBundleCompareAtPrice = compareAtPrice + totalBundleCompareAtPrice %}
                                    {% set totalBundleSavePrice = savePrice + totalBundleSavePrice %}
                                {% endfor %}
                                <tr class="bundle-parent-row">
                                    <td>
                                        <a href="{{ item.product.url }}" title="{{ item.product.name | escape }}">
                                            {% if item.product.featured_image is not empty %}
                                            <img class="cart-list-thumbs" src="{{ item.product.featured_image | product_image_size('small') }}"
                                                alt="{{ item.product.name | escape }}">
                                            {% else %}
                                            <div class="empty-cart-list-thumbs">
                                                {{ 'image' | placeholder_svg_tag }}
                                            </div>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{{ item.product.url }}" title="{{ item.product.name | escape }}">{{ item.product.name | escape }}</a>
                                        <p class="small mb-0 text-muted">{% if totalBundleCompareAtPrice > item.total %}Save {{ totalBundleSavePrice | money }} With These Bundle Items! 🔥{% else %}Grab This Amazing Bundle Now! 🔥{% endif %}</p>
                                        <a class="btn-delete-cart trash" href="/cart/change?line={{ loop.index }}&quantity=0">Remove</a>
                                    </td>
                                    <td class="align-middle text-center">
                                        <div class="form-group">
                                            <input type="number" class="input form-control cart-quantity-form col-md-6 col-10" name="updates[]"
                                                value="{{ item.quantity }}" min="0">
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="mb-0 text-muted{% if totalBundleCompareAtPrice < item.total %} d-none{% endif %}">
                                            <del>{{ totalBundleCompareAtPrice | money }}</del>
                                        </p>
                                        <p class="mb-0">
                                            {{ item.total | money }}
                                        </p>
                                    </td>
                                </tr>
                                {% for item_bundle in item.bundle_products %}
                                    {% set totalCompareAtPrice = item_bundle.total_compare_at_price %}
                                    {% set totalBundlePrice = item_bundle.total %}
                                    {% set savePrice = totalCompareAtPrice - totalBundlePrice %}
                                    {% set totalSavePrice = savePrice + totalSavePrice %}
                                    {% if savePrice < 0 %}
                                        {% set savePrice=0 %}
                                    {% endif %}
                                    {% if totalSavePrice < 0 %} {% set totalSavePrice=0 %} {% endif%}
                                    <tr class="bundle-child-row">
                                        <td>
                                            <a href="{{ item_bundle.product.url }}" title="{{ item_bundle.product.name | escape }}">
                                                {% if item_bundle.product.featured_image is not empty %}
                                                    <img class="cart-list-thumbs" src="{{ item_bundle.product.featured_image | product_image_size('small') }}" alt="{{ item_bundle.product.name | escape }}">
                                                {% else %}
                                                    {% if item.product.featured_image is not empty %}
                                                        <img class="cart-list-thumbs" src="{{ item.product.featured_image | product_image_size('small') }}" alt="{{ item.product.name | escape }}">
                                                    {% else %}
                                                        <div class="empty-cart-list-thumbs">
                                                            {{ 'image' | placeholder_svg_tag }}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            <a href="{{ item.product.url }}" title="{{ item.product.name | escape }}" class="text-muted">{{ item.product.name | escape }}</a>
                                            <i data-feather="arrow-right" class="small-feather"></i>
                                            <a href="{{ item_bundle.product.url }}" title="{{ item_bundle.product.name | escape }}">{{ item_bundle.product.name | escape }}{% if item_bundle.name != "Default" %} / {{ item_bundle.name | escape }}{% endif %}</a>
                                            {% for item_bundle_option in item_bundle.options %}{% if item_bundle_option.name != "Default" %}<p class="small mb-0 text-muted">{{ item_bundle_option.name | escape }} : {{ item_bundle_option.value }}</p>{% endif %}{% endfor %}
                                        </td>
                                        <td class="align-middle text-center">
                                            <p class="text-muted mb-0">{{ item_bundle.quantity }}x</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <p class="mb-0 text-muted{% if savePrice == 0 %} d-none{% endif %}">
                                                <del>{{ totalCompareAtPrice | money }}</del>
                                            </p>
                                            <p class="mb-0">
                                                {{ item_bundle.total | money }}
                                            </p>
                                            <p class="small text-success mb-0{% if savePrice == 0 %} d-none{% endif %}">Save {{ savePrice | money }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>
                                        <a href="{{ item.product.url }}" title="{{ item.product.name | escape }}">
                                            {% if item.product.featured_image is not empty %}
                                                <img class="cart-list-thumbs" src="{{ item.product.featured_image | product_image_size('small') }}" alt="{{ item.product.name | escape }}">
                                            {% else %}
                                                <div class="empty-cart-list-thumbs">
                                                    {{ 'image' | placeholder_svg_tag }}
                                                </div>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a class="d-block" href="{{ item.product.url }}" title="{{ item.product.name | escape }}">{{ item.product.name | escape }}{% if item.name != "Default" %} / {{ item.name | escape }}{% endif %}</a>
                                        {% for item_option in item.options %}{% if item_option.name != "Default" %}<p class="small mb-0 text-muted">{{ item_option.name | escape }} : {{ item_option.value }}</p>{% endif %}{% endfor %}
                                        <a class="btn-delete-cart trash" href="/cart/change?line={{ loop.index }}&quantity=0">Remove</a>
                                    </td>
                                    <td class="align-middle text-center">
                                        <div class="form-group">
                                        <input type="number" class="input form-control cart-quantity-form col-md-6 col-10" name="updates[]" value="{{ item.quantity }}" min="0">
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">{{ item.total | money }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                    <tfoot>
                        <tr>
                            <th colspan="3">Total</th>
                            <th class="text-center">{{ cart.total_price | money }}</th>
                            <th class="d-none d-md-table-cell"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="row">
                <div class="col-12 col-md-5">
                    <div class="cart-info">
                        <div class="form-group">
                            <textarea class="form-control" rows="2" name="note">{{ cart.note }}</textarea>
                            {% if settings.options.cart_extra_info %}
                                <label class="cart-extra-info mt-2">{{ settings.options.cart_extra_info }}</label>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="hr-small d-md-none">
                </div>

                <div class="col-12 col-md-7">
                    <div class="cart-action text-right">

                        <a href="/products" class="btn btn-box">Continue Shopping</a>
                        <button type="submit" name="update" class="btn btn-box col-md-2 col-12">Update</button>
                        <button type="submit" name="checkout" class="btn btn-checkout col-md-3 col-12"
                                {% if cart_total_value < cart_minimum_value %}disabled{% endif %}
                            >
                                {% if cart_total_value < cart_minimum_value %}Minimum cart RM{{ cart_minimum_value }} required {% else %}Checkout{% endif %}
                                <i data-feather="arrow-right" class="small-feather"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>

    {% else %}

    <div class="row align-items-center text-center" style="min-height:60vh">

        <div class="col-12">
            <h2>Your cart is empty</h2>
            <a href="/" class="small"><i data-feather="chevron-left" class="small-feather"></i> Back to home</a>
        </div>

    </div>

    {% endif %}

    </div>

</section>