<!-- Home template -->
<section class="{% if settings.images.header_logo is empty %}homepage-banner{% else %}home-banner{% endif %}">

    <div class="row">

        <!-- Homepage banner-->
        {% if settings.options.slideshow_banner %}
        <div class="col-12 no-gutters">

            {% if settings.images.slideshow_1 %}
            <!-- Desktop Carousel Wrapper -->
            <div id="homepage-slideshow" class="carousel slide carousel-fade{% if settings.images.mobile_slideshow_1 %} mobile-have{% else %} mobile-none{% endif %}" data-ride="carousel">

                <!-- Desktop Indicators -->
                {% if settings.images.slideshow_1 and settings.images.slideshow_2 %}
                <ol class="carousel-indicators">
                    {% if settings.images.slideshow_1 %}
                        <li data-target="#homepage-slideshow" data-slide-to="0" class="active"></li>
                    {% endif %}
                    {% if settings.images.slideshow_2 %}
                        <li data-target="#homepage-slideshow" data-slide-to="1"></li>
                    {% endif %}
                    {% if settings.images.slideshow_3 %}
                        <li data-target="#homepage-slideshow" data-slide-to="2"></li>
                    {% endif %}
                    {% if settings.images.slideshow_4 %}
                        <li data-target="#homepage-slideshow" data-slide-to="3"></li>
                    {% endif %}
                    {% if settings.images.slideshow_5 %}
                        <li data-target="#homepage-slideshow" data-slide-to="4"></li>
                    {% endif %}
                </ol>
                {% endif %}
                <!-- /.Desktop Indicators -->

                <!-- Desktop Slides -->
                <div class="carousel-inner" role="listbox">
                    {% if settings.images.slideshow_1 %}
                        <div class="carousel-item active">

                            <div class="hero-banner" style="background-image:url('{{ settings.images.slideshow_1 }}');">

                            <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                <div class="col">
                                    <div class="hero-info">
                                        <p>{{ settings.options.slideshow_1_subtext }}</p>
                                        <h1>{{ settings.options.slideshow_1_maintext }}</h1>
                                        <a href="{{ settings.options.slideshow_1_link }}" class="btn btn-light">{{ settings.options.slideshow_1_ctatext }}</a>
                                    </div>
                                </div>
                            </div>

                            </div>

                        </div>
                    {% endif %}
                    {% if settings.images.slideshow_2 %}
                        <div class="carousel-item">

                            <div class="hero-banner" style="background-image:url('{{ settings.images.slideshow_2 }}');">

                            <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                <div class="col">
                                    <div class="hero-info">
                                        <p>{{ settings.options.slideshow_2_subtext }}</p>
                                        <h1>{{ settings.options.slideshow_2_maintext }}</h1>
                                        <a href="{{ settings.options.slideshow_2_link }}" class="btn btn-light">{{ settings.options.slideshow_2_ctatext }}</a>
                                    </div>
                                </div>
                            </div>

                            </div>

                        </div>
                    {% endif %}
                    {% if settings.images.slideshow_3 %}
                        <div class="carousel-item">

                            <div class="hero-banner" style="background-image:url('{{ settings.images.slideshow_3 }}');">

                            <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                <div class="col">
                                    <div class="hero-info">
                                        <p>{{ settings.options.slideshow_3_subtext }}</p>
                                        <h1>{{ settings.options.slideshow_3_maintext }}</h1>
                                        <a href="{{ settings.options.slideshow_3_link }}" class="btn btn-light">{{ settings.options.slideshow_3_ctatext }}</a>
                                    </div>
                                </div>
                            </div>

                            </div>

                        </div>
                    {% endif %}
                    {% if settings.images.slideshow_4 %}
                        <div class="carousel-item">

                            <div class="hero-banner" style="background-image:url('{{ settings.images.slideshow_4 }}');">

                            <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                <div class="col">
                                    <div class="hero-info">
                                        <p>{{ settings.options.slideshow_4_subtext }}</p>
                                        <h1>{{ settings.options.slideshow_4_maintext }}</h1>
                                        <a href="{{ settings.options.slideshow_4_link }}" class="btn btn-light">{{ settings.options.slideshow_4_ctatext }}</a>
                                    </div>
                                </div>
                            </div>

                            </div>

                        </div>
                    {% endif %}
                    {% if settings.images.slideshow_5 %}
                        <div class="carousel-item">

                            <div class="hero-banner" style="background-image:url('{{ settings.images.slideshow_5 }}');">

                            <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                <div class="col">
                                    <div class="hero-info">
                                        <p>{{ settings.options.slideshow_5_subtext }}</p>
                                        <h1>{{ settings.options.slideshow_5_maintext }}</h1>
                                        <a href="{{ settings.options.slideshow_5_link }}" class="btn btn-light">{{ settings.options.slideshow_5_ctatext }}</a>
                                    </div>
                                </div>
                            </div>

                            </div>

                        </div>
                    {% endif %}
                </div>
                <!--/.Desktop Slides-->

                <!-- Desktop Controls -->
                {% if settings.images.slideshow_1 and settings.images.slideshow_2 %}
                <a class="carousel-control-prev d-none d-md-flex" href="#homepage-slideshow" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next d-none d-md-flex" href="#homepage-slideshow" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                {% endif %}
                <!-- /.Desktop Controls -->

            </div>
            <!-- /.Desktop Carousel Wrapper -->
                {% if settings.images.mobile_slideshow_1 %}
                <!-- Mobile Carousel Wrapper -->
                <div id="homepage-slideshow-mobile" class="carousel slide carousel-fade" data-ride="carousel">

                    <!-- Mobile Indicators -->
                    {% if settings.images.mobile_slideshow_1 and settings.images.mobile_slideshow_2 %}
                    <ol class="carousel-indicators">
                        {% if settings.images.mobile_slideshow_1 %}
                            <li data-target="#homepage-slideshow-mobile" data-slide-to="0" class="active"></li>
                        {% endif %}
                        {% if settings.images.mobile_slideshow_2 %}
                            <li data-target="#homepage-slideshow-mobile" data-slide-to="1"></li>
                        {% endif %}
                        {% if settings.images.mobile_slideshow_3 %}
                            <li data-target="#homepage-slideshow-mobile" data-slide-to="2"></li>
                        {% endif %}
                        {% if settings.images.mobile_slideshow_4 %}
                            <li data-target="#homepage-slideshow-mobile" data-slide-to="3"></li>
                        {% endif %}
                        {% if settings.images.mobile_slideshow_5 %}
                            <li data-target="#homepage-slideshow-mobile" data-slide-to="4"></li>
                        {% endif %}
                    </ol>
                    {% endif %}
                    <!-- /.Mobile Indicators -->

                    <!-- Mobile Slides -->
                    <div class="carousel-inner" role="listbox">
                        {% if settings.images.mobile_slideshow_1 %}
                            <div class="carousel-item active">

                                <div class="hero-banner" style="background-image:url('{{ settings.images.mobile_slideshow_1 }}');">

                                <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                    <div class="col">
                                        <div class="hero-info">
                                            <p>{{ settings.options.slideshow_1_subtext }}</p>
                                            <h1>{{ settings.options.slideshow_1_maintext }}</h1>
                                            <a href="{{ settings.options.slideshow_1_link }}" class="btn btn-light">{{ settings.options.slideshow_1_ctatext }}</a>
                                        </div>
                                    </div>
                                </div>

                                </div>

                            </div>
                        {% endif %}
                        {% if settings.images.mobile_slideshow_2 %}
                            <div class="carousel-item">

                                <div class="hero-banner" style="background-image:url('{{ settings.images.mobile_slideshow_2 }}');">

                                <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                    <div class="col">
                                        <div class="hero-info">
                                            <p>{{ settings.options.slideshow_2_subtext }}</p>
                                            <h1>{{ settings.options.slideshow_2_maintext }}</h1>
                                            <a href="{{ settings.options.slideshow_2_link }}" class="btn btn-light">{{ settings.options.slideshow_2_ctatext }}</a>
                                        </div>
                                    </div>
                                </div>

                                </div>

                            </div>
                        {% endif %}
                        {% if settings.images.mobile_slideshow_3 %}
                            <div class="carousel-item">

                                <div class="hero-banner" style="background-image:url('{{ settings.images.mobile_slideshow_3 }}');">

                                <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                    <div class="col">
                                        <div class="hero-info">
                                            <p>{{ settings.options.slideshow_3_subtext }}</p>
                                            <h1>{{ settings.options.slideshow_3_maintext }}</h1>
                                            <a href="{{ settings.options.slideshow_3_link }}" class="btn btn-light">{{ settings.options.slideshow_3_ctatext }}</a>
                                        </div>
                                    </div>
                                </div>

                                </div>

                            </div>
                        {% endif %}
                        {% if settings.images.mobile_slideshow_4 %}
                            <div class="carousel-item">

                                <div class="hero-banner" style="background-image:url('{{ settings.images.mobile_slideshow_4 }}');">

                                <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                    <div class="col">
                                        <div class="hero-info">
                                            <p>{{ settings.options.slideshow_4_subtext }}</p>
                                            <h1>{{ settings.options.slideshow_4_maintext }}</h1>
                                            <a href="{{ settings.options.slideshow_4_link }}" class="btn btn-light">{{ settings.options.slideshow_4_ctatext }}</a>
                                        </div>
                                    </div>
                                </div>

                                </div>

                            </div>
                        {% endif %}
                        {% if settings.images.mobile_slideshow_5 %}
                            <div class="carousel-item">

                                <div class="hero-banner" style="background-image:url('{{ settings.images.mobile_slideshow_5 }}');">

                                <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                    <div class="col">
                                        <div class="hero-info">
                                            <p>{{ settings.options.slideshow_5_subtext }}</p>
                                            <h1>{{ settings.options.slideshow_5_maintext }}</h1>
                                            <a href="{{ settings.options.slideshow_5_link }}" class="btn btn-light">{{ settings.options.slideshow_5_ctatext }}</a>
                                        </div>
                                    </div>
                                </div>

                                </div>

                            </div>
                        {% endif %}
                    </div>
                    <!--/.Mobile Slides-->

                </div>
                <!-- /.Mobile Carousel Wrapper -->
                {% endif %}

            {% else %}

                <div id="homepage-slideshow-placeholder" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="hero-banner">
                                <div class="row align-items-center hero-banner-wrapper no-gutters" >
                                    <div class="col">
                                        <div class="hero-info">
                                            <p>FEATURED</p>
                                            <h1>COLLECTION</h1>
                                            <a href="#" class="btn btn-light">SHOP NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

        </div>
        <!-- /.Homepage banner -->
        {% endif %}

    </div>
    {% if settings.options.banner_small_first or settings.options.banner_small_second %}
    <div class="row{% if settings.options.slideshow_banner == true %} mt-4{% endif %}">
        <!-- First small banner -->
        {% if settings.options.banner_small_first %}

            <div class="col-12{% if settings.options.banner_small_first and settings.options.banner_small_second %} col-md-6 mb-4 mb-md-0{% endif %} {% if settings.options.slideshow_banner == true and settings.images.slideshow_1 is empty %}px-0{% endif %}">

                <div class="featured-banner my-0">
                    {% if settings.images.banner_small_first %}
                        <a href="{{ settings.options.banner_small_first_link }}" class="d-block">
                            <img src="{{ settings.images.banner_small_first }}" width="100%">
                        </a>
                    {% else %}
                        <a href="{{ settings.options.banner_small_first_link }}" class="d-block">
                            {{ 'banner-1' | placeholder_svg_tag }}
                        </a>
                    {% endif %}

                </div>

            </div>

        {% endif %}
        <!-- /.First small banner -->

        <!-- Second small banner -->
        {% if settings.options.banner_small_second %}

            <div class="col-12{% if settings.options.banner_small_first and settings.options.banner_small_second %} col-md-6{% endif %} {% if settings.options.slideshow_banner == true and settings.images.slideshow_1 is empty %}px-0{% endif %}">

                <div class="featured-banner my-0">
                    {% if settings.images.banner_small_second %}
                        <a href="{{ settings.options.banner_small_second_link }}" class="d-block">
                            <img src="{{ settings.images.banner_small_second }}" width="100%">
                        </a>
                    {% else %}
                        <a href="{{ settings.options.banner_small_second_link }}" class="d-block">
                            {{ 'banner-1' | placeholder_svg_tag }}
                        </a>
                    {% endif %}
                </div>

            </div>

        {% endif %}
        <!-- /.Second small banner -->
    </div>
    {% endif %}

</section>
<!-- /.Homepage banner -->

<!-- Featured products -->
{% if settings.options.featured_products %}

<section class="products">

    <div class="container pt-3">

        <div class="row">

        <!-- Featured text -->
        {% if settings.options.featured_text %}

        <div class="col-12 text-center">

            <h2 class="section-title">
                {{ settings.options.featured_text }}
            </h2>

            <hr class="hr-small mb-4">

        </div>

        {% endif %}
        <!-- /.Featured text -->

        <div class="col-12">

            <div class="row px-2">

                <!-- Homepage featured products -->
                    {%- set product_categories = store.category_featured -%}
                    {%- set sliceLength = settings.options.featured_products_number -%}

                    {% if categories[product_categories].products | length > 0 or (products | length > 0 and store.category_featured == false) %}

                        {% if store.category_featured != false %}

                        <!-- Product Categories -->
                        {% for product in categories[product_categories].products|slice(0, sliceLength) %}

                            <div class="{{ settings.options.mobile_grid_column }} {{ settings.options.grid_column }} p-2">

                                {% if product.available %}

                                    <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                        <div class="product-image">

                                            {% if product.metafields.label.custom %}

                                                <span class="custom-label badge badge-primary">{{ product.metafields.label.custom }}</span>

                                            {% endif %}

                                            {% if product.featured_image %}

                                                {% if settings.options.hd_featured_image %}

                                                <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                                {% else %}

                                                <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                                {% endif %}

                                            {% else %}

                                                {{ 'image' | placeholder_svg_tag }}

                                            {% endif %}

                                        </div>

                                    </a>

                                {% else %}

                                    <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                        <div class="product-image sold-out">

                                            <div class="sold-out-badge"><p>Sold out</p></div>

                                            {% if product.featured_image %}

                                                {% if settings.options.hd_featured_image %}

                                                <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                                {% else %}

                                                <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                                {% endif %}

                                            {% else %}

                                                {{ 'image' | placeholder_svg_tag }}

                                            {% endif %}

                                        </div>

                                    </a>

                                {% endif %}

                                <div class="product-info">

                                    <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                    <h3>{{ product.name | escape }}</h3>

                                    {% if product.selected_or_first_available_variant.compare_at_price > 0 %}

                                        {% if product.selected_or_first_available_variant.compare_at_price %}
                                        <span class="discount-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                                        {% endif %}

                                        {% if product.price_varies %}
                                            <span class="price">{{ product.price | money }}<sup>+</sup></span>
                                        {% else %}
                                            <span class="price">{{ product.price | money }}</span>
                                        {% endif %}

                                    {% else %}

                                        {% if product.price_varies %}
                                            <span class="price">{{ product.price | money }}<sup>+</sup></span>
                                        {% else %}
                                            <span class="price">{{ product.price | money }}</span>
                                        {% endif %}

                                    {% endif %}

                                    </a>

                                </div>

                            </div>

                        {% endfor %}
                        <!-- /.Product Categories -->

                        <!-- Featured view all products button -->
                        {% if settings.options.featured_products_btn %}

                        <div class="col-12 text-center mb-5">

                            <hr class="hr-separator">

                            <a class="btn btn btn-outline-dark" href="{% if settings.options.products_categories == true %}categories/{{ settings.options.products_categories }}{% else %}products{% endif %}">VIEW ALL</a>

                        </div>

                        {% endif %}
                        <!-- /.Featured view all products button -->

                    {% else %}

                    <!-- All Products -->
                    {% for product in products|slice(0, sliceLength) %}

                    <div class="{{ settings.options.mobile_grid_column }} {{ settings.options.grid_column }} p-2">

                        {% if product.available %}

                            <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                <div class="product-image">

                                    {% if product.metafields.label.custom %}

                                        <span class="custom-label badge badge-primary">{{ product.metafields.label.custom }}</span>

                                    {% endif %}

                                    {% if product.featured_image %}

                                        {% if settings.options.hd_featured_image %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                        {% else %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                        {% endif %}

                                    {% else %}

                                        {{ 'image' | placeholder_svg_tag }}

                                    {% endif %}

                                </div>

                            </a>

                        {% else %}

                            <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                <div class="product-image sold-out">

                                    <div class="sold-out-badge"><p>Sold out</p></div>

                                    {% if product.featured_image %}

                                        {% if settings.options.hd_featured_image %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                        {% else %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                        {% endif %}

                                    {% else %}

                                        {{ 'image' | placeholder_svg_tag }}

                                    {% endif %}

                                </div>

                            </a>

                        {% endif %}

                        <div class="product-info">

                            <a href="{{ product.url }}" title="{{ product.name | escape }}">

                            <h3>{{ product.name | escape }}</h3>

                            {% if product.selected_or_first_available_variant.compare_at_price > 0 %}

                                {% if product.selected_or_first_available_variant.compare_at_price %}
                                <span class="discount-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                                {% endif %}

                                {% if product.price_varies %}
                                    <span class="price">{{ product.price | money }}<sup>+</sup></span>
                                {% else %}
                                    <span class="price">{{ product.price | money }}</span>
                                {% endif %}

                            {% else %}

                                {% if product.price_varies %}
                                    <span class="price">{{ product.price | money }}<sup>+</sup></span>
                                {% else %}
                                    <span class="price">{{ product.price | money }}</span>
                                {% endif %}

                            {% endif %}

                            </a>

                        </div>

                        </div>

                        {% endfor %}

                        <!-- Featured view all products button -->
                        {% if settings.options.featured_products_btn %}

                            <div class="col-12 text-center mt-5 mb-5">

                                <hr class="hr-separator">

                                <a class="btn btn-sm btn-box" href="{% if store.category_featured != false %}/categories/{{ store.category_featured }}{% else %}/products{% endif %}">VIEW ALL</a>

                            </div>
                            <!-- /.Empty state placeholder -->

                        {% endif %}
                        <!-- /.Featured view all products button -->

                    {% endif %}

                    {% else %}

                    <!-- Empty state placeholder -->
                    {% for i in range(0, 5) %}

                        <div class="{{ settings.options.mobile_grid_column }} {{ settings.options.grid_column }}">

                            <div class="product-image">
                                {{ 'product-1' | placeholder_svg_tag }}
                            </div>

                            <div class="product-info">
                                <h3>Product name</h3>
                                <span class="product-price">RM99.99</span>
                            </div>

                        </div>

                        {% endfor %}

                {% endif %}

            </div>

        </div>

    </div>

    </div>

</section>

{% endif %}
<!-- /.Featured products -->