<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="shortcut icon" href="{{ settings.images.favourite_icon }}" type="image/png" />
    {% if settings.options.custom_meta %}
    <!-- Custom meta -->
    {{ settings.options.custom_meta }}
    {% endif %}

    {% if page.metafields.builder.fonts %}
    {{ page.metafields.builder.fonts }}
    {% endif %}

    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">

    {{ css }}
    {{ head }}

    {%- set og_image_tag = '<meta property="og:image" content="' ~ settings.images.og_image ~ '">' -%}
    {%- set og_product_image_tag = '<meta property="og:image" content="' ~ product.featured_image ~ '">' -%}

    {%- set og_type = 'website' -%}
    {%- set og_title = title -%}
    {%- set og_url = page.url -%}
    {%- set og_description = description -%}

    <meta property="og:site_name" content="{{ store.name }}">
    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:type" content="{{ og_type }}">
    <meta property="og:description" content="{{ og_description }}">
    {% if settings.images.og_image %}
        {%- if page.template in 'page' and page.image -%}
            <meta property="og:image" content="{{ page.image }}">
        {% elseif page.template in 'product' and product.featured_image is not empty %}
            {{ og_product_image_tag }}
        {% else %}
            {{ og_image_tag }}
        {% endif %}
    {% else %}
        {%- if page.template in 'page' and page.image -%}
            <meta property="og:image" content="{{ page.image }}">
        {% elseif page.template in 'product' and product.featured_image is not empty %}
            {{ og_product_image_tag }}
        {% endif %}
    {% endif %}

</head>

<body>

    {% if settings.options.announcement_text %}

    <div class="announcement-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="small">
                        {% if settings.options.announcement_link %}
                        <a href="{{ settings.options.announcement_link }}" class="align-middle">
                            {{ settings.options.announcement_text }}
                        </a>
                        {% else %}
                        <span class="align-middle">{{ settings.options.announcement_text }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <nav class="navbar {% if attribute(menus, settings.options.main_menu_handle).links| length < 7 %}navbar-expand-lg{% endif %} {% if page.permalink != 'home' %}navbar-light{% else %}navbar-transparent navbar-dark{% endif %}"
        id="mainNavbar">
        <div class="container{% if page.permalink == 'home' %} container-nav{% endif %}">
            <div class="nav-collapse-icon {% if attribute(menus, settings.options.main_menu_handle).links| length > 7 %}w-20{% endif %}">
                <button class="{% if page.permalink != 'home' %}nav-toggler{% else %}navbar-toggler{% endif %} custom-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
            </div>

            <div class="nav-logo-icon {% if attribute(menus, settings.options.main_menu_handle).links| length > 7 %}w-60 text-center{% endif %}">
                {% if settings.images.header_logo is empty %}

                    {% if settings.images.header_logo_alternate is not empty and page.permalink != "home" %}
                        <a class="nav-logo" href="/" title="{{ store.name }}">
                            <img src="{{ settings.images.header_logo_alternate }}" width="{{ settings.options.logo_size }}px">
                        </a>
                    {% else %}
                        <a class="{% if page.permalink != "home" %}nav-brand{% else %}navbar-brand{% endif %}" href="/">{{ store.name }}</a>
                    {% endif %}

                {% else %}

                    {% if settings.images.header_logo_alternate is empty and page.permalink != "home" %}
                        <a class="nav-brand" href="/" title="{{ store.name }}">
                            {{ store.name }}
                        </a>
                    {% else %}
                        <a class="{% if settings.images.header_logo_alternate is empty and page.permalink != "home" %}nav-brand{% else %}nav-logo{% endif %}" href="/" title="{{ store.name }}">
                            <img src="{% if page.permalink == "home" %}{{ settings.images.header_logo }}{% else %}{{ settings.images.header_logo_alternate }}{% endif %}" width="{{ settings.options.logo_size }}px">
                        </a>
                    {% endif %}

                {% endif %}
            </div>

            <div class="nav-search-cart-icon {% if attribute(menus, settings.options.main_menu_handle).links| length > 7 %}text-right w-20{% endif %}{% if settings.options.search_menu == false %} text-right{% endif %}">
                {% if settings.options.search_menu == true %}
                <a class="{% if attribute(menus, settings.options.main_menu_handle).links| length < 7 %}d-lg-none{% endif %}"
                    id="searchIconCollapse" title="Search" data-toggle="collapse" href="#collapseSearch" role="button"
                    aria-expanded="false" aria-controls="collapseSearch">
                    <div class="{% if page.permalink != "home" %}search{% else %}searchs{% endif %} d-inline">
                        <i class="search-icon" data-feather="search" height="20" width="20"></i>
                    </div>
                </a>
                {% endif %}

                {% if cart.item_count > 0 %}

                <a href="/cart" title="Cart" class="{% if page.permalink != "home" %}cart-icon{% else %}carts-icon{%
                    endif %}">
                    <div class="cart d-inline">
                        <i data-count="{{ cart.item_count }}" class="fa fa-shopping-cart badge {% if attribute(menus, settings.options.main_menu_handle).links| length < 7 %}d-lg-none{% else %} mt-0 shopping-carts-icon{% endif %}"></i>
                    </div>
                </a>

                {% else %}

                <a href="/cart" title="Cart" class="{% if page.permalink != "home" %}cart-icon{% else %}carts-icon{%
                    endif %}">
                    <div class="cart d-inline">
                        <i class="fa fa-shopping-cart {% if attribute(menus, settings.options.main_menu_handle).links| length < 7 %}d-lg-none{% else %} mt-0 shopping-carts-icon{% endif %}"></i>
                    </div>
                </a>

                {% endif %}
            </div>

            <div class="collapse {% if attribute(menus, settings.options.main_menu_handle).links| length < 7 %} navbar-collapse {% if page.permalink != "home" %}nav-bg{% else %}navbar-bg{% endif %}" {% else %} navbar-collapse-custom {% if page.permalink != "home" %}nav-bg-custom{% else %}navbar-bg-custom{% endif %}" {% endif %} id="navbar">
                <ul class="navbar-nav ml-auto">
                    {% for index, link in attribute(menus, settings.options.main_menu_handle).links %}
                        {%- set valid = true -%}
                        {% if (link.url == '/account/logout' and customer == false) or (link.url == '/account/orders' and customer == false) or (link.url == '/account' and customer == false) or (link.url ==
                        '/account/login' and customer == true) %}
                            {%- set valid = false -%}
                        {% endif %}
                        {% if (valid) and (link.links | length == 0) %}
                            <li class="nav-item{% if link.active %} active{% endif %}">
                                <a class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link{% endif %} navbar-padding" href="{{ link.url }}">{{ link.title }}
                                    {% if link.url == '/' %}
                                        <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% elseif (valid) %}
                            <li class="nav-item dropdown">
                                <a class="{% if page.permalink != "home" %}nav-link px-3{% else %}navbar-link{% endif %} dropdown-toggle" id="menu_{{index}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ link.title }}
                                </a>
                                <div class="dropdown-menu p-0 rounded-0 border-0 {% if page.permalink != "home" %}nav-colour{% else %}navbar-colour{% endif %} dropdown-align-center mx-auto" aria-labelledby="menu_{{index}}">
                                    {% for index2, subLink in link.links %}
                                        {% if (valid) and subLink.links | length == 0 %}
                                            <div class="px-4 px-md-0">
                                                <a class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link{% endif %}
                                                    dropdown-item py-2 px-3" href="{{ subLink.url }}">{{ subLink.title }}</a>
                                            </div>
                                        {% elseif (valid) %}
                                            <div class="submenu dropdown dropdown-submenu px-4 px-md-0">
                                                <a class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link px-3{% endif %} dropdown-toggle py-2 px-3" id="menu2_{{index2}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{ subLink.title }}
                                                </a>
                                                <div class="submenu dropdown-menu m-0 p-0 position-relative rounded-0 border-0 {% if page.permalink != "home" %}nav-colour{% else %}navbar-colour{% endif %}" aria-labelledby="menu2_{{index2}}">
                                                    {% for sub2Link in subLink.links %}
                                                        {% if (valid) %}
                                                            <a class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link px-3{% endif %} dropdown-item py-2 px-4" href="{{ sub2Link.url }}">
                                                                {{ sub2Link.title }}
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if settings.options.login_menu == true %}
                        {% if customer == false %}
                        <li class="nav-item d-lg-none">
                            <a href="/account/login" title="Login" class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link{% endif %} navbar-padding">
                                <span class="text-wrap w-100">Log in</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item d-lg-none">
                            <a href="/account" class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link{% endif %} navbar-padding">
                                <span class="text-wrap w-100">Account</span>
                            </a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a href="/account/orders" class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link{% endif %} navbar-padding">
                                <span class="text-wrap w-100">Orders</span>
                            </a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a href="/account/logout" class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link{% endif %} navbar-padding">
                                <span class="text-wrap w-100">Logout</span>
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}

                    {% if settings.options.search_menu == true %}
                        <li class="nav-item d-none{% if attribute(menus, settings.options.main_menu_handle).links| length < 7 %} d-lg-block{% endif %}">
                            <a id="searchIconCollapse" title="Search" data-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
                                <div class="{% if page.permalink != "home" %}search{% else %}searchs{% endif %}">
                                    <span>Search</span>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.options.login_menu == true %}
                        {% if customer == false %}
                        <li class="nav-item d-none d-lg-block login-icon">
                            <a href="/account/login" title="Login" class="{% if page.permalink != "home" %}login-icon{% else %}logins-icon{% endif %}">
                                <i class="fa fa-solid fa-user d-login"></i>
                            </a>
                        </li>
                        {% else %}
                            <li class="nav-item dropdown account-menu d-none d-lg-block login-icon">
                                <a href="#" id="dropdownAccountMenuButton" class="dropdown-toggle {% if page.permalink != "home" %}login-icon{% else %}logins-icon{% endif %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-solid fa-user d-login"></i>
                                </a>
                                <div class="dropdown-menu p-0 rounded-0 border-0{% if page.permalink != "home" %} nav-colour {% else %} navbar-colour {% endif %}dropdown-align-center mx-auto" aria-labelledby="dropdownAccountMenuButton">
                                    <a class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link {% endif %}dropdown-item py-2 px-3" href="/account">Account</a>
                                    <a class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link {% endif %}dropdown-item py-2 px-3" href="/account/orders">Orders</a>
                                    <a class="{% if page.permalink != "home" %}nav-link {% else %}navbar-link {% endif %}dropdown-item py-2 px-3" href="/account/logout">Logout</a>
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-item d-none d-lg-block cart-icon">
                        {% if attribute(menus, settings.options.main_menu_handle).links| length < 7 %}
                            {% if cart.item_count> 0 %}
                                <a href="/cart" title="Cart" class="{% if page.permalink != "home" %}cart-icon{% else %}carts-icon{% endif %}"><i data-count="{{ cart.item_count }}" class="fa fa-shopping-cart badge d-cart"></i></a>
                            {% else %}
                                <a href="/cart" title="Cart" class="{% if page.permalink != "home" %}cart-icon{% else %}carts-icon{% endif %}"><i class="fa fa-shopping-cart d-cart"></i></a>
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="searchBarDiv" role="dialog" aria-modal="true" aria-label="Search">
                <div class="pageOverlay"></div>
                <div class="collapse search-bar-content bg-open-input-search-box" id="collapseSearch">
                    <div class="search-bar-form">
                        <div class="search-field">
                            <input class="input-search-products form-control py-2" type="search" placeholder="Search"
                                value="" id="products-search-input">
                            <a href="" class="btn" id="buttonSearch">
                                <i data-feather="search" class="nav-icons" height="18" width="18"></i>
                            </a>
                        </div>
                    </div>
                    <button type="button" class="close-button btn btn-close">X</button>
                </div>
            </div>
        </div>
    </nav>

    {{ content }}

    <!-- Whatsapp settings -->
    {% if settings.options.whatsapp_number %}

    {%- set whatsapp_product_text = settings.options.whatsapp_product_text -%}
    {%- set whatsapp_general_text = settings.options.whatsapp_general_text -%}

    {% if page.template == 'product' %}
    {% set product_comingsoon = null %}
    {% for product_category in product.categories %}
    {% if product_category.name == 'Comingsoon' %}
    {% set product_comingsoon = 'coming_soon' %}
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="whatsapp {% if page.template == 'product' %}{% if settings.options.sticky_btn %}whatsapp-mobile{% endif %}{% endif %}{% if product_comingsoon == 'coming_soon' %} d-none{% endif %}">
        <a href="https://wa.me/{{ settings.options.whatsapp_number }}{% if page.template == 'product' %}?text={{ whatsapp_product_text }}%20{{ product.name | escape }}%20{{ product.url }}{% else %}?text={{ whatsapp_general_text }}{% endif %}" target="_blank" class="whatsapp-btn"><i data-feather="message-circle" class="d-block d-sm-none"></i>
            <div class="d-none d-sm-block">{{ settings.options.whatsapp_text }}</div>
        </a>
    </div>
    {% endif %}
    <!-- /.Whatsapp settings -->

    <div class="social-proofs"></div>

    <section class="footer {% if page.template == 'product' %}checkout-padding{% endif %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <hr class="hr-small mb-4">

                    {% if settings.options.social_media %}
                    <ul class="footer-sc pb-0">

                        {% if settings.options.facebook %}
                        <li class="nav-item">
                            <a href="{{ settings.options.facebook }}" target="_blank">
                                <i data-feather="facebook" class="sc-feather"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if settings.options.instagram %}
                        <li class="nav-item">
                            <a href="{{ settings.options.instagram }}" target="_blank">
                                <i data-feather="instagram" class="sc-feather"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if settings.options.youtube %}
                        <li class="nav-item">
                            <a href="{{ settings.options.youtube }}" target="_blank">
                                <i data-feather="youtube" class="sc-feather"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if settings.options.twitter %}
                        <li class="nav-item">
                            <a href="{{ settings.options.twitter }}" target="_blank">
                                <i data-feather="twitter" class="sc-feather"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if settings.options.tiktok %}
                        <li class="nav-item">
                            <a href="{{ settings.options.tiktok }}" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" role="img"
                                    viewBox="0 0 24 24" fill="currentColor" class="sc-feather">
                                    <path
                                        d="M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z" />
                                </svg>
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                    {% endif %}

                    {% if settings.options.footer_menu %}
                    {% if attribute(menus, settings.options.footer_menu_handle) %}
                    <ul class="footer-nav">

                        {% for link in attribute(menus, settings.options.footer_menu_handle).links %}

                        <li class="nav-item"><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
                        {% endfor %}

                    </ul>
                    {% endif %}
                    {% endif %}

                </div>
                {% if settings.options.footer_company_detail %}
                    <div class="col-12 text-center">

                        <p class="credit mb-0">{{ settings.options.footer_company_detail }}</p>

                    </div>
                {% endif %}
                <div class="col-12 text-center">
                    <p class="credit">© {{ 'now' | date('Y') }} {{ store.name }}. All rights reserved.</p>
                    <p class="powered">Powered by <a href="https://shoppego.com" rel="nofollow" target="_blank"
                            title="Shoppego">Shoppego</a></p>
                </div>
            </div>
        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"></script>

    {{ js }}

    {% if page.metafields.builder.js %}
    <!-- Page builder js -->
    <script type="text/javascript">
        {{ page.metafields.builder.js }}
    </script>
    <!-- End of page builder js -->
    {% endif %}

    {% if page.metafields.builder.css %}
    <!-- Page builder styling -->
    <style type="text/css">
        {{ page.metafields.builder.css }}

        #u_body .container,
        .footer .container,
        .announcement-bar .container {
            padding: 0 15px;
        }

        a.product-link {
            text-decoration: none;
            color: #f0c14b;
        }

        .footer a,
        nav a {
            color: #444;
            text-decoration: none;
        }

        .footer a:hover,
        .footer a:focus,
        nav a:hover,
        nav a:focus,
        a.product-link:hover,
        a.product-link:focus {
            color: #777;
            text-decoration: none;
        }
    </style>
    <!-- End of page builder styling -->
    {% endif %}

    <!-- Social proof styling -->

    {% if page.template == 'product' %}

        {% if settings.options.sticky_btn %}

            {% if whatsapp_sticky == 1 %}

                <style type="text/css">

                @media (max-width: 576px) {

                    .footer {
                        padding-bottom: 12em !important;
                    }

                     @keyframes slideIn {
                        0% {
                            transform: translateY(100%);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(-50%);
                            opacity: 1;
                        }
                    }

                }

                </style>

            {% else %}

                <style type="text/css">

                @media (max-width: 576px) {

                    .footer {
                        padding-bottom: 13em !important;
                    }

                     @keyframes slideIn {
                        0% {
                            transform: translateY(100%);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(-50%);
                            opacity: 1;
                        }
                    }

                }

                </style>

            {% endif %}

        {% else %}

            <style type="text/css">

            @media (max-width: 576px) {

                .footer {
                    padding-bottom: 9em !important;
                }

            }

            </style>

        {% endif %}

    {% endif %}

    {% if page.template == 'cart' %}

        <style type="text/css">

        @media (max-width: 576px) {

            .footer {
                padding-bottom: 9em !important;
            }

        }

        </style>

    {% endif %}

    <!-- /.Social proof styling -->

    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "aecf724216724271b6e368efb7fa20aa"}'></script><!-- End Cloudflare Web Analytics -->

</body>
</html>