<!-- Product template -->
<section class="product pb-0">
    <div class="container">
        <div class="row">
        {% if settings.options.image_gallery_type == "image_slider" %}
                <!-- product image slider -->
                <div class="col-12 col-md-6 slider-wrapper">
                    <div id="carousel-gallery" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% set totalImage = 0 %}
                            {% set totalImageVariants = 0 %}
                            {% if product.images %}
                                <!-- Product image -->
                                {% for indexImage, image in product.images %}
                                    {% set tempimg = 'img_featured' ~ indexImage %}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        <img id="{{ tempimg }}" src="{{ image | product_image_size('large') }}" width="100%">
                                    </div>
                                    {% set totalImage = totalImage + 1 %}
                                {% endfor %}
                            {% endif %}
                            <!-- Variant image -->
                            {% for variant in product.variants %}
                                {% set tempimg = 'img_variant' ~ variant.id %}
                                {% if variant.image %}
                                    <div class="carousel-item">
                                        <img id="{{ tempimg }}" src="{{ variant.image | product_image_size('large') }}" width="100%">
                                    </div>
                                    {% set totalImage = totalImage + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if product.images is empty and totalImage < 1 %}
                                <div class="carousel-item active">
                                    {{ 'image' | placeholder_svg_tag }}
                                </div>
                            {% endif %}
                        </div>
                        {% if totalImage > 1 %}
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#carousel-gallery" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-gallery" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        {% endif %}
                    </div>

                    <!-- Images -->
                    <ol class="carousel-thumbnails">
                        {% set imageIndex = 0 %}

                        <!-- Product images -->
                        {% for image in product.images %}
                            <li data-target="#carousel-gallery" data-slide-to="{{ imageIndex }}" {% if loop.first %}class="active thumb-gallery"{% else %}class="thumb-gallery"{% endif %}>
                                <img width="60" src="{{ image | product_image_size('small') }}">
                            </li>
                            {% set imageIndex = imageIndex + 1 %}
                        {% endfor %}

                        <!-- Variant images -->
                        {% for variant in product.variants %}
                            {% if variant.image %}
                                <li class="thumb-gallery" data-target="#carousel-gallery" data-slide-to="{{ imageIndex }}">
                                    <img width="60" src="{{ variant.image | product_image_size('small') }}">
                                </li>
                                {% set imageIndex = imageIndex + 1 %}
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <!-- end images -->
                </div>
                <!-- end of product image slider -->
            {% elseif settings.options.image_gallery_type == "image_stacked" %}
                <div class="col-12 col-md-6">
                    {% for image in product.images %}
                        <div class="image-stacked mb-4">
                            <img src="{{ image | product_image_size('large') }}" width="100%">
                        </div>
                    {% endfor %}
                    <!-- Variant image -->
                    {% for variant in product.variants %}
                        {% if variant.image %}
                            <div class="image-stacked mb-4">
                                <img src="{{ variant.image | product_image_size('large') }}" width="100%">
                            </div>
                            {% set totalImage = totalImage + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if product.images is empty and totalImage < 1 %}
                        <div class="image-stacked mb-4">
                            {{ 'image' | placeholder_svg_tag }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <!-- end of product image -->
            <!-- product details -->
            <div class="col-md-6">
                <div class="product-details">
                    <h2 class="store-name">{{ store.name }}</h2>
                    <h1 class="title">{{ product.name | escape }}</h1>
                    <!-- Product price -->
                    {% set totalBundlePrice = 0 %}
                    {% set totalCompareBundlePrice = 0 %}
                    {% if product.is_bundle %}
                        {% for bundle in product.bundle_products %}
                            {% for tempPriceIndex, bundle_variant in bundle.bundle_variants %}
                                {% set tempSavePrice = bundle_variant.price %}
                                {% set tempCompareBundlePrice = bundle_variant.compare_at_price %}
                                {% if tempPriceIndex == 0 %}
                                    {% set totalBundlePrice = tempSavePrice + totalBundlePrice %}
                                    {% set totalCompareBundlePrice = tempCompareBundlePrice + totalCompareBundlePrice %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% set totalBundlePrice = product.price %}
                        {% set totalCompareBundlePrice = product.compare_at_price_max %}
                    {% endif %}
                    <div class="price">
                        {% if product.available %}
                            {% if product.compare_at_price_max > 0 %}
                                <span class="discount-price-single{% if product.is_bundle and totalBundlePrice >= totalCompareBundlePrice %} d-none{% endif %}" id="discount-price-single">{% if product.is_bundle %}{{ totalCompareBundlePrice | money }}{% else %}{{ product.selected_or_first_available_variant.compare_at_price | money }}{% endif %}
                                </span>
                                <span class="product-price after-less" id="product-price" data-currency="{{ store.currency.code }}">{% if product.is_bundle %}{{ totalBundlePrice | money }}{% else %}{{ product.selected_or_first_available_variant.price |
                                money }}{% endif %}</span>
                            {% else %}
                                <span class="product-price" id="product-price" data-currency="{{ store.currency.code }}">{{ product.selected_or_first_available_variant.price | money }}</span>
                            {% endif %}
                        {% else %}
                            <span class="price">{{ product.price | money }}{% if product.price_varies %}<sup>+</sup>{% endif %}</span>
                        {% endif %}
                        <!-- Atome price -->
                        {% if settings.options.display_atome_price %}
                            {%- set atome_price = totalBundlePrice/3 -%}
                            <p class="atome-price">or 3 payments of <strong><span id="product-price-atome">{{ atome_price | money }}</span></strong> with <img src="https://shoppego.com/assets/images/logo-pd.svg" width="60"></p>
                        {% endif %}
                        <!-- ./Atome price -->
                        <hr class="hr-small">
                    </div>
                    <div class="extra">
                        {% if product.available %}
                            {% if product.is_bundle %}
                                {{ form_open('cart/add/bundle', { method: 'post' }) }}
                                <fieldset class="box-radio-option" id="product-options">
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    {% if errors %}
                                    <span class="text-danger d-small">{{ errors[0] }}</span>
                                    {% endif %}
                                    <div id="list-bundle-variant" class="d-none">
                                        {% set totalSavePrice = 0 %}
                                        {% for bundleProductIndex, bundle in product.bundle_products %}
                                            <div id="product_bundle_{{ bundle.id }}_{{ bundleProductIndex }}" data-product-id="{{ bundle.id }}">
                                                <input type="hidden" id="product_bundle_{{ bundle.id }}_variant_{{ bundleProductIndex }}" value="{{ bundle.bundle_variants[0].id }}">
                                                {% for tempVariantIndex, bundle_variant in bundle.bundle_variants %}
                                                    {% set tempid = 'variant_' ~ bundle_variant.id %}
                                                    {% set tempSavePrice = bundle_variant.compare_at_price - bundle_variant.price %}
                                                    {% if tempVariantIndex == 0 %}
                                                        {% set totalSavePrice = tempSavePrice + totalSavePrice %}
                                                    {% endif %}
                                                    <div id="{{ tempid }}_{{ bundleProductIndex }}" data-variant="{{ bundle_variant.id }}" data-price="{{ bundle_variant.price | money }}" data-discount-price="{{ bundle_variant.compare_at_price | money }}" data-saved-price="{{ tempSavePrice }}" data-inventory-quantity="{{ bundle_variant.inventory_quantity }}" data-available="{% if bundle_variant.available %}true{% else %}false{% endif %}" data-manage-stock="{% if bundle_variant.manage_stock %}true{% else %}false{% endif %}" data-fixed-quantity="{{ bundle_variant.fixed_quantity }}" data-image="{{ bundle_variant.image }}">
                                                        <input type="hidden" data-variantkey="{{ bundle_variant.name }}" value="{{ bundle_variant.id }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="bundles" class="card rounded-0">
                                        <div class="card-header">
                                            <p class="mb-0" id="bundle-saved-price">{% if totalSavePrice > 0 %}<b>Save {{ totalSavePrice | money }}</b> With This Bundle! 🔥{% else %}Grab This Amazing Bundle Now! 🔥{% endif %}</p>
                                        </div>
                                        {% set bundID = 0 %}
                                        <ul class="product-bundle">
                                            {% for bundleProductIndex, bundle in product.bundle_products %}
                                                {% set bundID = bundID + 1 %}
                                                <li class="bundle-items">
                                                    <div class="row" id="row_{{ bundle.id }}_{{ bundleProductIndex }}">
                                                        <div class="col-auto bundle-thumbnails">
                                                            <div class="bundle-thumbnail">
                                                                {% if bundle.featured_image %}
                                                                    <!-- Bundle Image -->
                                                                    <img id="img_bundle_{{ bundle.id }}_{{ bundleProductIndex }}" src="{{ bundle.featured_image | product_image_size('small') }}" width="100%"{% if bundle.bundle_variants[0].image and bundle.bundle_variants | length == 1 %} class="d-none"{% endif %}>
                                                                    <!-- Product Bundle Image -->
                                                                    {% for ProdBundleImgIndex, bundle_variant in bundle.bundle_variants %}
                                                                        {% if bundle_variant.image %}
                                                                            {% if bundle.bundle_variants | length > 1 %}
                                                                                <img id="img_bundle_{{ bundle_variant.id }}_{{ bundleProductIndex }}" src="{{ bundle_variant.image | product_image_size('small') }}" width="100%" class="d-none">
                                                                            {% else %}
                                                                                <img id="img_bundle_{{ bundle_variant.id }}_{{ bundleProductIndex }}" src="{{ bundle_variant.image | product_image_size('small') }}" width="100%">
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% else %}
                                                                    {% for tempVariantIndex, bundle_variant in bundle.bundle_variants %}
                                                                        {% if bundle_variant.image %}
                                                                            {% if bundle.bundle_variants | length > 1 %}
                                                                                <img id="img_bundle_{{ bundle_variant.id }}_{{ bundleProductIndex }}" src="{{ bundle_variant.image | product_image_size('small') }}" width="100%" class="{% if tempVariantIndex != 0 %}d-none{% endif %}">
                                                                            {% else %}
                                                                                <img id="img_bundle_{{ bundle_variant.id }}_{{ bundleProductIndex }}" src="{{ bundle_variant.image | product_image_size('small') }}" width="100%">
                                                                            {% endif %}
                                                                        {% else %}
                                                                            <div id="img_bundle_empty_{{ bundle_variant.id }}_{{ bundleProductIndex }}" class="{% if tempVariantIndex != 0 %}d-none{% endif %}">{{ 'image' | placeholder_svg_tag }}
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </div>
                                                            <span id="fixed_quantity_{{ bundleProductIndex }}" class="product-fixed-quantity{% if bundle.bundle_variants[0].fixed_quantity is empty %} d-none{% endif %}">{{ bundle.bundle_variants[0].fixed_quantity }}</span>
                                                        </div>
                                                        <div class="col pl-2 bundle-title">
                                                            <div class="bundle-title-name">
                                                                <h3 class="mb-0">{{ bundle.name }}</h3>
                                                            </div>
                                                            <!-- Bundle Price -->
                                                            <div class="bundles-price mb-0">
                                                                {% if bundle.bundle_variants | length > 1 %}
                                                                    {% for priceIndex, bundle_variant in bundle.bundle_variants %}
                                                                        {%- set price = bundle_variant.compare_at_price - bundle_variant.price -%}
                                                                        {% if price < 0 %} {% set price=0 %} {% endif %}
                                                                        <div id="{{ bundle_variant.id }}_{{ bundleProductIndex }}" class="bundle-price-variants{% if priceIndex != 0 or price == 0 %} mb-1{% endif %}{% if priceIndex == 0 %} d-block{% else %} d-none{% endif %}">
                                                                            <span class="bundle-discount-price-single text-muted{% if price == 0 %} d-none{% endif %}" id="bundle-discount-price-single_{{ bundle_variant.id }}_{{ bundleProductIndex }}">
                                                                                {{ bundle_variant.compare_at_price | money }}
                                                                            </span>
                                                                            <span class="bundle-price ml-1" id="bundle-price_{{ bundle_variant.id }}_{{ bundleProductIndex }}">
                                                                                {{ bundle_variant.price | money }}
                                                                            </span>
                                                                        </div>
                                                                        <p class="small text-success mb-1{% if priceIndex != 0 or price == 0 %} d-none{% else %} d-block{% endif %}" id="bundle-saved-price_{{ bundle_variant.id }}_{{ bundleProductIndex }}">
                                                                            (Save {{ price | money }})
                                                                        </p>
                                                                    {% endfor %}
                                                                {% else %}
                                                                    {% for priceIndex, bundle_variant in bundle.bundle_variants %}
                                                                        {%- set price = bundle_variant.compare_at_price - bundle_variant.price -%}
                                                                        {% if price < 0 %} {% set price=0 %} {% endif %} {% set bundle_variant=bundle.bundle_variants[0] %}
                                                                            <div id="{{ bundle_variant.id }}_{{ bundleProductIndex }}" class="bundle-price-variant{% if price == 0 %} mb-1{% endif %}">
                                                                                <span class="bundle-discount-price-single text-muted{% if price == 0 %} d-none{% endif %}" id="bundle-discount-price-single_{{ bundle_variant.id }}_{{ bundleProductIndex }}">
                                                                                    {{ bundle_variant.compare_at_price | money }}
                                                                                </span>
                                                                                <span class="bundle-price ml-1" id="bundle-price_{{ bundle_variant.id }}_{{ bundleProductIndex }}">
                                                                                    {{ bundle_variant.price | money }}
                                                                                </span>
                                                                            </div>
                                                                        <p class="small text-success mb-1{% if price == 0 %} d-none{% endif %}"
                                                                        id="bundle-saved-price_{{ bundle_variant.id }}_{{ bundleProductIndex }}">(Save {{ price | money }})
                                                                        </p>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </div>
                                                            <!-- ./Bundle Price -->
                                                            <!-- Bundle variants -->
                                                            <div
                                                                class="bundle-variants{% if bundle.bundle_variants | length > 1 and bundle.bundle_variants[0].fixed_quantity is empty %} mb-2{% endif %}">
                                                                <input type="hidden" name="bundle_products[{{ bundleProductIndex }}][product_id]"
                                                                    value="{{ bundle.id }}" data-loop="{{ bundleProductIndex }}">
                                                                {% if bundle.bundle_variants | length > 1 %}
                                                                <select class="single-bundle-selector__select select-bundle form-control"
                                                                    name="bundle_products[{{ bundleProductIndex }}][variant_id]" required>
                                                                    <option value="">Please select</option>
                                                                    {% for bundle_variant in bundle.bundle_variants %}
                                                                    <option value="{{ bundle_variant.id }}">{{ bundle_variant.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                {% for bundle_variant in bundle.bundle_variants %}
                                                                <div class="bundle-availability d-none"
                                                                    id="bundle_availability_{{ bundle_variant.id }}_{{ bundleProductIndex }}">
                                                                    <span class="out-of-stock text-danger">Out of stock</span>
                                                                </div>
                                                                {% endfor %}
                                                                {% else %}
                                                                <input type="hidden" class="single-bundle-selector__select select-bundle"
                                                                    name="bundle_products[{{ bundleProductIndex }}][variant_id]"
                                                                    value="{{ bundle.bundle_variants[0].id }}">
                                                                {% endif %}
                                                            </div>
                                                            <!-- ./Bundle variants -->
                                                            <!-- Product quantity -->
                                                            <div
                                                                class="input-quantity{% if bundle.bundle_variants | length < 1 or bundle.bundle_variants[0].fixed_quantity is not empty %} d-none{% endif %}">
                                                                <div class="product-quantity-input">
                                                                    <button id="bundle_minus_quantity_{{ bundID }}"
                                                                        class="bundle-quantity-button bundle-minus{% if bundle.bundle_variants | length > 1 %} disabled{% endif %}"
                                                                        type="button" data-product-id="{{ bundle.id }}" data-loop="{{ bundleProductIndex }}" {% if
                                                                        bundle.bundle_variants | length> 1 %}disabled{% endif %}> - </button>
                                                                    <input id="bundle_input_quantity_{{ bundID }}"
                                                                        name="bundle_products[{{ bundleProductIndex }}][quantity]" type="text" value="1"
                                                                        data-product-id="{{ bundle.id }}" data-loop="{{ bundleProductIndex }}"
                                                                        class="form-control bundle-quantity-button bundle-quantity-form" {% if bundle.bundle_variants |
                                                                        length> 1 %}disabled{% endif %}>
                                                                    <button id="bundle_plus_quantity_{{ bundID }}"
                                                                        class="bundle-quantity-button bundle-plus{% if bundle.bundle_variants | length > 1 %} disabled{% endif %}"
                                                                        type="button" data-product-id="{{ bundle.id }}" data-loop="{{ bundleProductIndex }}" {% if
                                                                        bundle.bundle_variants | length> 1 %} disabled{% endif %}> + </button>
                                                                </div>
                                                            </div>
                                                            <!-- ./Product quantity -->
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form-button {% if settings.options.sticky_btn %}sticky{% endif %}">
                                        {% if settings.options.add_to_cart_btn %}
                                            <button id="btn-addtocart" type="submit" class="btn {% if settings.options.buy_now_btn %}btn-custom-add-to-cart-combo{% else %}btn-custom-add-to-cart{% endif %}">Add to cart</button>
                                        {% endif %}
                                        {% if settings.options.buy_now_btn %}
                                            {% if settings.options.buy_now_txt %}
                                                <button id="btn-buynow" type="submit" name="express" value="1" class="btn {% if settings.options.add_to_cart_btn %}btn-custom-buy-now-combo{% else %}btn-custom-buy-now{% endif %}">{{ settings.options.buy_now_txt }}</button>
                                            {% else %}
                                                <button id="btn-buynow" type="submit" name="express" value="1" class="btn {% if settings.options.add_to_cart_btn %}btn-custom-buy-now-combo{% else %}btn-custom-buy-now{% endif %}">Buy now</button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                            {% else %}
                                {{ form_open('cart/add', { method: 'post' }) }}
                                <fieldset class="box-radio-option" id="product-options">
                                    <div class="option-title">
                                        <input id="selected-option" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                    </div>
                                    {% if errors %}
                                    <span class="text-danger d-small">{{ errors[0] }}</span>
                                    {% endif %}
                                    <div id="list-variants-options" class="d-none">
                                        {% for variant in product.variants %}
                                            {% set tempid = 'variant_' ~ variant.id %}
                                            <div id="{{ tempid }}" data-variant="{{ variant.id }}" data-price="{{ variant.price | money }}"
                                                data-discount-price="{{ variant.compare_at_price | money }}"
                                                data-inventory-quantity="{{ variant.inventory_quantity }}"
                                                data-available="{%if variant.available %}true{% else %}false{% endif %}"
                                                data-manage-stock="{%if variant.manage_stock %}true{% else %}false{% endif %}">
                                                {% for option in product.options %}
                                                    {% if option.type == 'radio' or option.type == 'select' or option.type == 'swatch' %}
                                                        <input type="hidden" data-optionid="{{ option.id }}" data-optionkey="{{ option.name }}" value="{{ variant.options[option.name] }}"/>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if product.has_options %}
                                        <!-- Product options -->
                                        <div id="variants_options">
                                            {% for indexOption, option in product.options %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        {% if option.name != 'Default' %}
                                                            <span class="option-name">{{ option.name }}</span>

                                                            {% if option.type == 'radio' %}
                                                                {% for indexValue, value in option.values %}
                                                                    {% set tempid = 'option_' ~ indexOption ~ indexValue %}
                                                                    <input type="radio" id="{{ tempid }}" name="options[{{ option.id }}]" class="single-option-selector__radio radio-option option" value="{{ value.name }}" {% if product.selected == value.name %}checked{% endif %} required />
                                                                    <label for="{{ tempid }}">{{ value.name }}</label>
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if option.type == 'select' %}
                                                                <select class="single-option-selector__select select-option option form-control" name="options[{{ option.id }}]" required >
                                                                    <option value="">Please select</option>
                                                                    {% for value in option.values %}
                                                                        <option value="{{ value.name }}" data-index-option="{{ indexOption }}">{{ value.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            {% endif %}

                                                            {% if option.type == 'swatch' %}
                                                                {% for indexValue, value in option.values %}
                                                                    {% set tempid = 'option_' ~ indexOption ~ indexValue %}
                                                                    <input type="radio" id="{{ tempid }}" name="options[{{ option.id }}]" class="swatch-option-selector option" value='{{ value.name }}' required />
                                                                    <label for="{{ tempid }}" class="swatch-label">
                                                                        <div class="swatch-inner-wrapper">
                                                                            <div class="swatch-bg-holder" style="background: linear-gradient({{ value.metadata.colors[0] }} 0%,  {{ value.metadata.colors[0] }} 50%, {{ value.metadata.colors[1] }} 50%, {{ value.metadata.colors[1] }} 100%); color: rgb(255, 255, 255);"></div>
                                                                            <div class="d-none">
                                                                                <span>{{ option.name }}</span>
                                                                            </div>
                                                                        </div>
                                                                    </label>
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if option.type == 'date' %}
                                                                <input type="date" id="{{ tempid }}" name="options[{{ option.id }}]" class="form-control" {% if option.required %}required{% endif %} />
                                                            {% endif %}

                                                            {% if option.type == 'datetime' %}
                                                                <input type="datetime-local" id="{{ tempid }}" name="options[{{ option.id }}]" class="form-control" {% if option.required %}required{% endif %} />
                                                            {% endif %}

                                                            {% if option.type == 'input' %}
                                                                <input type="text" id="{{ tempid }}" name="options[{{ option.id }}]" class="form-control" {% if option.required %}required{% endif %} />
                                                            {% endif %}

                                                            {% if option.type == 'textarea' %}
                                                                <textarea name="options[{{ option.id }}]" class="form-control" maxlength="255" {% if option.required %}required{% endif %}></textarea>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- ./Product options -->
                                    {% else %}
                                        <!-- Product variants -->
                                        {% if product.variants | length > 1 %}
                                            {% for variant in product.variants %}
                                                {% set tempid = 'radio_' ~ variant.id %}
                                                <input type="radio" id="{{ tempid }}" name="variant" class="single-option-selector__radio radio-variant" value="{{ variant.id }}" {% if variant.available==false %} disabled="disabled" {% endif %} required>
                                                <label for="{{ tempid }}" {% if variant.available==false %} class="disabled" {% endif %}>{{ variant.name }}</label>
                                            {% endfor %}
                                        {% endif %}
                                        <!-- ./Product variants -->
                                    {% endif %}
                                    <div class="form-button {% if settings.options.sticky_btn %}sticky{% endif %}">
                                        {% if settings.options.add_to_cart_btn %}
                                            <button id="btn-addtocart" type="submit"
                                                class="btn {% if settings.options.buy_now_btn %}btn-custom-add-to-cart-combo{% else %}btn-custom-add-to-cart{% endif %}">Add
                                                to cart</button>
                                        {% endif %}
                                        {% if settings.options.buy_now_btn %}
                                            {% if settings.options.buy_now_txt %}
                                                <button id="btn-buynow" type="submit" name="express" value="1" class="btn {% if settings.options.add_to_cart_btn %}btn-custom-buy-now-combo{% else %}btn-custom-buy-now{% endif %}">{{ settings.options.buy_now_txt }}</button>
                                            {% else %}
                                                <button id="btn-buynow" type="submit" name="express" value="1" class="btn {% if settings.options.add_to_cart_btn %}btn-custom-buy-now-combo{% else %}btn-custom-buy-now{% endif %}">Buy now</button>
                                            {% endif %}
                                        {% endif %}
                                        <button class="btn btn-custom-add-to-cart btn-block disabled d-none">Sold Out</button>
                                    </div>
                            {% endif %}
                        {% else %}
                            <div class="add-to-cart-button">
                                <a class="btn btn-custom-add-to-cart btn-block disabled">Sold out</a>
                            </div>
                        {% endif %}
                            </fieldset>
                        </form>
                    </div>
                    {% if product.wholesale_prices | length >= 1 %}
                    <div class="wholesale-section">
                        <div class="row">
                            <div class="col-12">
                                <span class="wholesale-title">Buy More, Pay Less!</span>
                            </div>
                            <div class="col-12">
                                <div class="wholesale-table">
                                    <table class="table text-center">
                                        <thead>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Unit price</th>
                                            <th scope="col">Saving per unit</th>
                                        </thead>
                                        <tbody>
                                            {% for indexWholesale, wholesale in product.wholesale_prices %}
                                            {% set wholesaleMaxQuantity = wholesale.maximum_quantity %}
                                            <input type="hidden" id="wholesalePrice_{{ indexWholesale }}" data-min-quantity="{{ wholesale.minimum_quantity }}" data-max-quantity="{{ wholesaleMaxQuantity }}" data-price="{{ wholesale.unit_price | money }}" data-currency="{{ store.currency_format }}"/>
                                            {% if wholesale.maximum_quantity is null %}
                                                {% set wholesaleQuantity = '' ~ wholesale.minimum_quantity ~ ' or more' %}
                                            {% else %}
                                                {% set wholesaleQuantity = '' ~ wholesale.minimum_quantity ~ ' - ' ~ wholesale.maximum_quantity %}
                                            {% endif %}
                                            <tr>
                                                <td>{{ wholesaleQuantity }}</td>
                                                <td>{{ wholesale.unit_price | money }}</td>
                                                <td>{{ wholesale.saving_per_unit | money }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="description">
                        {{ product.description }}
                    </div>
                </div>
                <!-- end of product details -->
            </div>
        </div>
    </div>
</section>

<!-- Product ratings -->
{% if settings.options.product_reviews and product.reviews %}
    <section class="product-ratings">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-title">
                        Product Ratings
                    </h2>
                </div>
                <div class="col-12">
                    <ul class="list-group">
                    {% for review in product.reviews %}
                        <li class="product-rating list-group-item px-0">
                            <div class="customer-name mb-1">
                                <p class="d-inline font-weight-bold">{{ review.customer_name }} </p>
                                <span class="d-inline">
                                    <i class="check-circle" data-feather="check-circle" width="12" height="12"></i>
                                </span>
                                <span class="text-muted d-inline"> Verified buyer</span>
                            </div>
                            <span class="customer-rating d-block mb-2">
                                {% for i in 1..review.rating %}
                                    <i class="star-given" data-feather="star" width="14" height="14"></i>
                                {% endfor %}
                                {% if review.rating != 5 %}
                                    {% for i in 1..(5 - review.rating) %}
                                        <i class="star" data-feather="star" width="14" height="14"></i>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <span class="customer-paid-info text-muted d-block mb-3">
                                {{ review.created_at }} | 
                                {% if review.variant != "Default" %}
                                    Variation: {{ review.variant }}</span>
                                {% endif %}
                            <p class="customer-text mb-0">{{ review.description }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- ./Product ratings -->

<!-- Related products -->
{% if settings.options.related_products %}
    {% if product.related | length > 0 %}
        <section class="related-products">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="section-title">
                            {{ settings.options.related_products_text }}
                        </h2>
                        <hr class="hr-small mb-4">
                    </div>
                    <div class="col-12">
                        <div class="row px-2">
                            {% for related in product.related %}
                            <div class="{{ settings.options.mobile_grid_column }} {{ settings.options.grid_column }} p-2">
                                <a href="{{ related.url }}" title="{{ related.name | escape }}">
                                    <div class="product-image">
                                        {% if related.featured_image %}
                                            <img src="{{ related.featured_image | product_image_size('medium') }}" width="100%">
                                        {% else %}
                                            {{ 'image' | placeholder_svg_tag }}
                                        {% endif %}
                                    </div>
                                </a>

                                <div class="product-info">
                                    <a href="{{ related.url }}" title="{{ related.name | escape }}">
                                    <h3>{{ related.name | escape }}</h3>
                                    {% if related.compare_at_price_max > 0 %}
                                        <span class="discount-price">{{ related.compare_at_price_min | money }}</span>
                                        {% if related.price_varies %}
                                            <span class="price">{{ related.price | money }}<sup>+</sup></span>
                                        {% else %}
                                            <span class="price">{{ related.price | money }}</span>
                                        {% endif %}
                                    {% else %}
                                        {% if related.price_varies %}
                                            <span class="price">{{ related.price | money }}<sup>+</sup></span>
                                        {% else %}
                                            <span class="price">{{ related.price | money }}</span>
                                        {% endif %}
                                    {% endif %}
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endif %}
<!-- ./Related products -->

<style type="text/css">
    @media (max-width: 576px) {
        .social-proof {
            bottom: 59px;
        }
    }
</style>