/***

Theme Name: Tampin
Theme Description: Essential multi-purpose theme for multiple products
Theme Author: Amirul Amri
Version : 1.17.6
Last updated : 6 March 2025

***/

/* Library import */

@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600);
@import url("https://fonts.googleapis.com/css2?family=Arapey&display=swap");
@import url(https://use.fontawesome.com/releases/v5.8.2/css/solid.css);
@import url(https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css);

/* Reset */

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}

@media (min-width: 960px) {
    .container {
        width: 960px !important;
    }
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

/* Default theme settings */

a {
    color: #444;
}

a:hover, a:focus {
    color: #777;
    text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    display: block;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 400;
    margin: 0 0 0.5em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

.w-20 {
	width: 20%!important;
}

.w-60 {
	width: 60%!important;
}

.btn {
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 12px 20px;
    font-size: 0.8125em;
    border-radius: 0;
}

/* Empty state */

svg.placeholder-svg {
    border:1px solid #eee;
}

/* Header */

.container-nav{
    height: 79px;
}

.header {
    padding: 1rem 0;
}

button.navbar-toggler {
    outline: none;
}

/* Dropdown */

#navbar .dropdown a {
    cursor: pointer;
}

#navbar .dropdown-menu {
    width: auto;
    min-width: 11rem;
    font-size: 14px;
    background-color: transparent;
    margin-top: 0;
}

.navbar-collapse-custom .navbar-link + .dropdown-menu, #navbar .navbar-link + .submenu.dropdown-menu {
    border-top: 1px solid {{ settings.colors.navbar_link }} !important;
    border-bottom: 1px solid {{ settings.colors.navbar_link }} !important;
}

.navbar-collapse-custom .nav-link + .dropdown-menu, #navbar .nav-link + .submenu.dropdown-menu {
    border-top: 1px solid {{ settings.colors.nav_link }} !important;
    border-bottom: 1px solid {{ settings.colors.nav_link }} !important;
}

#navbar .dropdown-item:hover {
    background-color: transparent;
}

#navbar .dropdown-align-center {
    text-align: center;
}

#navbar .submenu.dropdown-menu {
    text-align: center;
}

/* Homepage */
#navbar .dropdown-menu.nav-colour {
  background-color: {{ settings.colors.nav_bg }};
}
/* Default */
#navbar .dropdown-menu.navbar-colour {
  background-color: {{ settings.colors.navbar_bg }};
}

/* Search icon */

.search, .searchs {
    position: relative;
    padding: .5rem 1rem;
}

/* Login menu */

.dropdown.account-menu:hover .dropdown-menu {
    display: block;
}

/* Cart icon */

.cart-icon i, .carts-icon i, .login-icon i, .logins-icon i {
	width: auto !important;
}

/* Menu icons */

.searchs, .carts-icon, a.navbar-link, a.navbar-brand, .logins-icon {
    color: {{ settings.colors.navbar_link }} !important;
}

.search, .cart-icon, a.nav-link, a.nav-brand, .login-icon {
    color: {{ settings.colors.nav_link }} !important;
}

.searchs:hover, .carts-icon:hover, a.navbar-link:hover, a.navbar-brand:hover, .logins-icon:hover {
    color: {{ settings.colors.navbar_link_hover }} !important;
}

.search:hover, .cart-icon:hover, a.nav-link:hover, a.nav-brand:hover, .login-icon:hover {
    color: {{ settings.colors.nav_link_hover }} !important;
}

.logo h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .5rem;
    margin-bottom: 0;
    padding-left: 0;
}

.logo a:hover {
    text-decoration: none;
}

a.navbar-brand {
    text-transform: uppercase;
    font-size: 2rem;
    white-space: normal;
}

a.nav-brand {
    text-transform: uppercase;
    font-size: 2rem;
    white-space: normal;
}

.nav-logo img {
    height: 80px;
    object-fit: contain;
}

/*
.navbar {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
*/

.nav {
    font-size:14px;
    margin-top: 0.5em;
}

ul.navbar-nav li {
    font-size: 0.875em;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

li.login-icon, li.logins-icon {
 margin: 0 1rem;
}

li.cart-icon, li.carts-icon {
    margin-left: 1rem;
}

a.cart-icon a.carts-icon, a.login-icon, a.logins-icon{
    text-decoration: none;
}

.navbar.navbar-transparent {
    background-color: transparent;
    z-index: 11;
	transition: .3s linear;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-toggler {
    width: 47px;
    height: 25px;
    border: 0;
    margin-left: -10px;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: {{ settings.colors.navbar_link }};
    margin-bottom: 5px;
}

.nav-toggler {
    width: 47px;
    height: 25px;
    border: 0;
    margin-left: -10px;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.nav-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: {{ settings.colors.nav_link }};
    margin-bottom: 5px;
}

.navbar-brand {
    padding:0;
    margin-right:0;
}

.navbar-brand img {
    width: 140px;
}

.nav-brand {
    padding:0;
    margin-right:0;
}

.nav-brand img {
    width: 140px;
}

.navbar-padding {
	padding: .5rem 1rem;
}

.navbar-link {
    padding-right: 0;
    padding-left: 0;
    display: block;
    padding: .5rem 1rem;
}

/* navbar light */

.navbar-light .navbar-nav .nav-link {
    color:#444;
}

.navbar-light .navbar-toggler {
    border:none;
}

.navbar-light .cart-icon, .navbar-light .login-icon {
    color: #444;
}

/* navbar dark */

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .cart-icon, .navbar-dark .login-icon {
    color: #fff;
}

a.dropdown-item, a.cart-count {
    font-size: 14px;
}

/* Cart header */

.d-cart, .d-login {
    padding: 0;
    margin-top: 0.8em;
}

.shopping-carts-icon {
    padding: 0;
	margin-bottom: 10px;
}

.shopping-carts-icon.badge {
    vertical-align: middle;
}

.badge {
    font-size: 100%;
}

.badge:empty {
    display: inline-block;
}

*.icon-blue {
    color: #0088cc;
}

*.icon-grey {
    color: grey;
}

i {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.fa-shopping-cart.badge:after {
    content: attr(data-count);
    position: absolute;
    background: {{ settings.colors.buy_now_btn_bg }};
    height: 15px;
    top: -8px;
    right: -10px;
    width: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    border-radius: 50%;
    color: white;
    border: 1px solid {{ settings.colors.buy_now_btn_border }};
    font-family: sans-serif;
    font-weight: bold;
}

.products, .product, .cart {
    min-height: 20rem;
}

/* Search Textbox */

.searchBarDiv {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition: height 0.3s ease;
}

.bg-open-search-box .searchBarDiv {
    height: 100%;
}

.bg-open-input-search-box {
    background: #cecece;
    height: 0;
    overflow: hidden;

    transition: height 0.3s ease;
}

.bg-open-input-search-box.active {
    height: 100%;
}

.pageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(54, 54, 54, 0.5);
    opacity: 0;
    visibility: hidden;

    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.pageOverlay.visible {
    opacity: 1;
}

.searchBarDiv .collapse:not(.show) {
    visibility: hidden;
}

.search-bar-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0.5rem 0 1rem;
    z-index: 11;
}

.search-field {
    position: relative;
    width: 100%;
    display: flex;
}
    
.search-bar-form {
    width: 100%;
    border: 1px solid #000;
}

.search-bar-content .close-button {
    padding: 9px 20px;
    height: 45px;
    font-size: 17px;
    background-color: #cecece;
}

#buttonSearch {
	background-color: #fff;
	padding-bottom: 0.6rem;
	padding-top: 0.6rem;
    height: 40px;
}

.input-search-products {
	border: 0px;
	border-radius: 0px;
}

.input-search-products:focus {
    border: 0px;
	box-shadow: none;
}

/* Announcement bar */

.announcement-bar {
    padding: 0.5em 0;
    background: {{ settings.colors.announcement_bar_bg_color }};
    color: {{ settings.colors.announcement_bar_text_color }};
    font-size: 14px;
    z-index: 11;
}

.announcement-bar p {
    margin-bottom:0;
}

/* end of header */

/* homepage */

section.homepage-banner {
    margin-top: -6em;
}

section.home-banner {
    margin-top: -6.0rem;
}

#homepage-slideshow-mobile {
    display: none;
}

/* hero banner */

.hero-banner {
    background-color: #444;
    background-size: cover ;
    background-position: top center;
    z-index: 0;
}

.hero-banner-wrapper {
    min-height: 100vh;
}

.hero-info {
    text-align: center;
    color: {{ settings.colors.slideshow_text }};
    padding: 0 1em;
}

.hero-info h1{
    font-size: 3.125em;
    margin-bottom: 15px;
    line-height: 1.25;
    letter-spacing: 0;
}

.hero-info p {
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.hero-info a {
    color: {{ settings.colors.slideshow_text_btn }};
    background-color: {{ settings.colors.slideshow_btn }};
    border-color: {{ settings.colors.slideshow_btn }};
}

.hero-info a:hover {
    color: {{ settings.colors.slideshow_btn_hover_text }};
    background-color: {{ settings.colors.slideshow_btn_hover }};
    border-color: {{ settings.colors.slideshow_btn_hover }};
}

.carousel-indicators .active {
    background-color: {{ settings.colors.slideshow_text }};
}

/* Homepage banner */

.featured-banner {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.large-banner {
	margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.featured-banner img {
    border-radius: 4px;
}

/* Sections */

h1.section-title, h2.section-title {
    font-size: 24px;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Pages */

.page-body img, .page-body iframe, .page-body svg {
    max-width: 100%;
}

/* Products grid & Bundle Product */

.product-image {
    position: relative;
    width: 100%;
}

.product-image img {
    width: 100%;
}

/* .product-image.sold-out img {
    opacity: 0.5;
} */

span.product-fixed-quantity {
    font-size: 0.8571428571em;
    font-weight: 500;
    line-height: 2.15em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 2.15em;
    height: 2.15em;
    padding: 0 0.5833333333em;
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 3;
}

.bundle-thumbnail {
    width: 100px;
    height: 100px;
    border: 1px solid #f1f1f1;
}

.bundle-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.product-info h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    text-transform : capitalize;
    font-family: 'Arapey', serif;
    font-style: normal;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.product-info span.price {
    font-size: 16px;
}

.product-info a:hover {
    color: #444;
    text-decoration: none;
}

ul.product-bundle {
    margin: 0;
    padding: 0;
    text-align: left;
}

li.bundle-items {
    list-style: none;
    padding: 1em;
    border-bottom: 1px solid #eee;
}

li.bundle-items:last-child {
    border-bottom: none;
}

.bundle-title-name h3 {
    font-size: 16px;
}

.product-info span.product-price {
    font-size: 14px;
}

span.bundle-discount-price,
span.bundle-discount-price-single {
    text-decoration: line-through;
}

.product-info span.product-price {
    font-size: 14px;
}

p.atome-price {
    font-size: 12px;
}

p.atome-price img {
    padding-bottom: 2px;
}

span.custom-label.badge.badge-primary {
    right: 0;
    position: absolute;
    margin-top: .5em;
    margin-right: .5em;
    font-size: 10px;
    border-radius: 0;
    padding: .5em .8em;
    font-weight: 600;
    background-color: #000;
    text-transform: uppercase;
}

.sold-out-badge {
    display: table;
    position: absolute;
    background: #000;
    border-radius: 50%;
    padding: 1em;
    margin: 0;
    color: #fff;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    font-weight: bold;
    text-align: center;
    font-size: 0.85714em;
    line-height: 1.1;
    z-index: 10;
}

.sold-out-badge p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    line-height: initial;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}

/* Single product */

.product {
    padding-bottom: 5rem;
}

.product-details{
    text-align: center;
}

.extra{
    text-align : center;
}

h2.store-name {
    text-transform: uppercase;
    margin-top: 4em;
    letter-spacing: 0.2em;
    font-size: 0.75em;
}

.product .title {
    font-size: 2.25em;
}

span.product-price, span.discount-price-single {
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222323;
    font-size: 1.125em;
    font-weight: 400;
	display: inline-block;
}

span.discount-price, span.discount-price-single {
    text-decoration: line-through;
}

.product .extra .btn {
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
}

.product .compare-price {
    display: inline;
    color: #807777;
    font-size: 19px;
    text-decoration: line-through;
}

span.product-price.after-less {
    color: red;
}

.on-sale {
    color: #d14141 !important;
}

hr.hr-small{
    border-top: solid #1c1d1d;
    border-width: 2px 0 0 0;
    margin: 20px auto;
    width: 50px;
}

.btn.btn-add-to-cart {
    background: #000;
    color: #fff;
}

.btn.btn-add-to-cart-outline {
    background: transparent;
    border:1px solid #000;
    color: #000;
}

.btn.btn-custom-add-to-cart {
    color: {{ settings.colors.add_to_cart_btn_text }};
    background-color: {{ settings.colors.add_to_cart_btn_bg }};
}

.btn.disabled, .btn:disabled {
    background-color: #cecece;
    color: #fff;
    border: none;
    opacity: 1;
}

a.btn.btn-add-to-cart.btn-block.disabled {
    color: #fff;
}

.description {
    margin-top: 2em;
    text-align: left;
}

.description img, .description iframe, .page-body img, .page-body iframe {
    max-width: 100%;
}

.description p {
    font-size: 14px;
    line-height: 24px;
    color: #222;
}

.description .table.table-bordered, .page-body .table.table-bordered {
    font-size: 12px;
    color: #222;
}

.description table th, .description table td, .page-body table th, .page-body table td {
    border: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: top;
}

.description table, .page-body table {
    border: 1px solid #dee2e6;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.description ul {
    padding-left: 2em;
    font-size: 14px;
}

.description ol {
    padding-left: 1.7em;
    font-size: 14px;
}

.description ol li {
    padding-left: .4em;
}

/* Image gallery */

ol.carousel-thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    text-align: left;
}

.carousel-thumbnails li {
    padding: 0;
    display: inline-block;
	margin-right: .78em;
    cursor: pointer;
}

.carousel-thumbnails li:last-child {
    margin-right: 0 !important;
}

li.thumb-gallery {
	width: auto;
    height: auto;
    margin-bottom: 0.7em;
    margin-right: 0.5em !important;
}

li.thumb-gallery img {
    width: 100px;
}

/* Custom radio button */

.box-radio-option {
    border: 0;
    padding-top: 0;
    position: relative;
    background-color: #fff;
}

.box-radio-option input {
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

.box-radio-option input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
}

.box-radio-option input[type="date"], .box-radio-option input[type="text"], .box-radio-option input[type="datetime-local"] {
    position: unset;
    overflow: unset;
    height: auto;
    width: 100%;
}

.box-radio-option input[type="checkbox"], .box-radio-option input[type="radio"] {
    margin: 0 10px 0 0;
    padding: 0;
    width: auto;
}

.box-radio-option input[type='radio']:checked+label {
    border-color: #222323;
}

.box-radio-option label, span.option-name, span.wholesale-title {
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    line-height: 1;
    padding: 9px 11px;
    margin: 0px 4px 7px 3px;
    font-size: 0.8125em;
    font-style: normal;
    background-color: #fff;
    border: 1px solid #fff;
    color: #222323;
}

.wholesale-table .table {
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 0.8125em;
    margin-bottom: 8px;
    color: #222323
    border-collapse: collapse;
}

.wholesale-table thead {
    color: #222323
}

.wholesale-table .table td, .wholesale-table .table th {
    vertical-align: middle;
    border: 1px solid #eee;
}

.wholesale-table .table td {
    width: 30%;
    padding: 0.5rem;
}

span.option-name, span.wholesale-title {
    border: 0px;
    display: block;
    width: 100%;
    margin: 3px 4px 7px 3px;
}

.box-radio-option label.disabled:before {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    bottom: 0;
    border-left: 1px solid;
    border-color: #222323;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

label[for] {
    cursor: pointer;
}

/* Custom swatch */
.swatch-option-selector {
	margin: 0;
    padding: 0;
}

.swatch-label {
	padding: 0 !important;
    min-width: 1rem !important;
    border: none !important;
}

.swatch-label.swatch-active {
	border: 1px solid #ee4d2d !important;
	border-radius: 50% !important
}

.swatch-inner-wrapper {
	display: flex;
	padding: 2px;
}

.swatch-bg-holder {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
	padding: 2px;
}
/* End custom swatch */

.form-button {
    margin-top:1em;
}

/* Quantity selector */

.product-quantity-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bundle-quantity-button {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px;
}

.bundle-quantity-form {
    width: 50px !important;
    height: 32px !important;
    position: unset !important;
    border-left: none;
    border-right: none;
    font-size: 16px;
    font-weight: 400;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
    -webkit-appearance: none;
}

.bundle-quantity-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bundle-quantity-button:nth-last-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bundle-quantity-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#bundles .bundle-quantity,
#bundles .bundle-quantity-button.disabled {
    background-color: #e9ecef;
    opacity: 1;
}

/* Custom button */

.btn-custom-buy-now, .btn-custom-add-to-cart, .btn-custom-add-to-cart-combo {
    width: 100%;
}

.btn-custom-buy-now-combo {
    width: 100%;
    margin-bottom: 1em;
}

.btn-custom-add-to-cart.btn.disabled {
    color: #fff;
    background: #cecece;
}

/* Product rating */

section.product-ratings {
    padding-bottom: 5rem;
}

.product-ratings .list-group .product-rating:nth-child(1):not(:last-child) {
    padding-bottom: 2em;
}

.product-ratings .list-group .product-rating:not(:nth-child(1)) {
    padding-top: 2em;
    padding-bottom: 2em;
}

.product-ratings .list-group .list-group-item {
    border: none;
}

.product-ratings .list-group .product-rating:not(:last-child) {
    margin-bottom: 0;
    border-bottom: 1px solid #f1f1f1;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
}

.customer-name {
    margin-bottom: 0;
    font-size: 14px;
}

.customer-name .check-circle {
    color: #28a745;
}

.customer-review-date {
    font-size: 14px;
}

.product-rating .customer-rating {
    font-size: 14px;
    color: {{ settings.colors.buy_now_btn_bg }};
}

.customer-rating .star-given {
    fill: {{ settings.colors.buy_now_btn_bg }};
}

.customer-text {
    margin-top: .5rem;
}

/* Cart page */

section.cart-page {
    margin-bottom: 6em;
}

.cart .table img {
    width: 50px;
}

.cart td input {
    width: 50px;
    text-align: right;
}

.form-control.cart-quantity-form {
    display: unset;
    margin: 0 auto;
}

.cart .trash {
    font-size: 16px;
}

.cart .trash:hover {
    text-decoration: none;
}

.cart-action {
    font-size: 13px;
}

p.shipping-instruction {
    padding: 0 2em;
    font-size: 14px;
}

a.continue-shopping {
    font-size: 14px;
    text-decoration: underline;
    font-style: italic;
}

label.cart-extra-info {
    font-size: 13px;
    margin: 0;
}

img.cart-list-thumbs {
    max-width: 100px;
}

.btn-delete-cart {
    float: left;
    width: fit-content;
    text-decoration: underline;
    font-style: italic;
    font-size: 14px;
}

.btn-checkout {
    background: #000;
    color: #fff;
}

.small-feather {
    width: 10px;
    height: 10px;
}

section.cart-page table th {
    border-bottom: 0;
}

.cart-info {
    padding: 0 0.75rem;
    margin-bottom: 0em;
}

/* Cart empty state */

.empty-cart-list-thumbs {
    width: 100px;
}

/* Social proof */

.social-proofs {
    position: fixed;
    width: auto;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.social-proof {
    margin-left: 1em;
    margin-bottom: 1em;
    background: #f9f9f9;
    border: 1px solid #f1f1f1;
    width: 330px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.social-proof .box-content {
    font-size: 12px;
}

.notification-img {
    flex-basis: 60px;
    min-width: 60px;
    overflow: hidden;
    margin: 1em;
    width: 60px;
}

.notification-img-box {
    width: 60px;
    height: 60px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
}


.notification-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.notification-content {
    flex: 1;
    margin-right: 1em;
    padding: 1.3em 0;
}

.notification-content .product-link {
    text-decoration: underline;
}

.social-proof .notification-close {
    align-self: start;
    margin-top: 5px;
    order: 2;
    padding: 10px 15px 10px 10px;
    z-index: 9;
}

.social-proof .notification-close:hover, .social-proof .notification-close:focus {
    cursor: pointer;
}

.social-proof a.verified-link {
    color: #6c757d;
}

.social-proof a.verified-link:hover {
    text-decoration: underline;
}

.social-proof a, .notification-content a.product-link:hover, .notification-content a.product-link:focus {
    color: {{ settings.colors.body_text }};
}

.slide-in {
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Footer */

.footer {
    font-size: 0.8rem;
}

p.credit {
    display: inline-block;
}

p.powered {
    display: inline-block;
}

.checkout-padding {
    padding-bottom: 0;
}

ul.payment-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.payment-icons li {
    display: inline-block;
    margin-right: 2px;
}

/* Footer menu */

ul.footer-nav, ul.footer-sc {
    list-style: none;
    margin: 0;
    padding: 1em 0;
    text-align: center;
}

.footer-nav li, .footer-sc li {
    display: inline-block;
    margin-right: 1em;
    text-transform: uppercase;
}

.footer-nav li:last-child, .footer-sc li:last-child {
    margin-right: 0;
}

.footer-nav li a:hover {
    text-decoration: none;
}

.sc-feather {
    width: 18px;
    height: 18px;
}

/* 404 */

.huge {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
}

/* Whatsapp */

.whatsapp {
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}

.whatsapp-btn {
    text-decoration: none;
    color: #eee;
    display: inline-block;
    background-color: #25d366;
    font-weight: bold;
    padding: .5em 1em;
    border-radius: 4px;
    line-height: 30px;
}

.whatsapp-btn:hover {
    background-color: #009839;
}

.whatsapp-btn:focus {
    background-color: #444;
    color:#fff;
}

/* JSON settings */

/* Master */

body {
    color: {{ settings.colors.body_text }};
}

a, .custom-radio .custom-control-input:checked~.custom-control-label::before {
    color: {{ settings.colors.a_link }};
}

a:hover, .product-info a:hover, li.nav-item a:hover {
    color: {{ settings.colors.a_link_hover }};
}

/* Header */

.nav-icons {
    color: {{ settings.colors.top_menu_icon }} !important;
}

.cart-badge {
    color: {{ settings.colors.cart_icon_badge_text }};
    background: {{ settings.colors.cart_icon_badge }};
}

.announcement-bar, .announcement-bar a {
    background: {{ settings.colors.announcement_bar_bg_color }};
    color: {{ settings.colors.announcement_bar_text_color }};
}

/* Buttons */

.btn-checkout {
    color: {{ settings.colors.checkout_btn_text }};
    background-color: {{ settings.colors.checkout_btn_bg }};
}

a.btn-box {
    color: {{ settings.colors.btn_text }};
    background-color: {{ settings.colors.btn_bg }};
    border: 1px solid {{ settings.colors.btn_border }};
}

button.btn-box {
    color: {{ settings.colors.btn_text }};
    background-color: {{ settings.colors.btn_bg }};
    border: 1px solid {{ settings.colors.btn_border }};
}

.btn-custom-buy-now, .btn-custom-buy-now-combo {
    color: {{ settings.colors.buy_now_btn_text }};
    background-color: {{ settings.colors.buy_now_btn_bg }};
}

.btn-custom-add-to-cart-combo {
    color: {{ settings.colors.add_to_cart_alternate_btn_text }};
    background-color: {{ settings.colors.add_to_cart_alternate_btn_bg }};
    border: 1px solid {{ settings.colors.add_to_cart_btn_border}};
    margin-bottom: .5em;
}

span.product-price.after-less {
    color: {{ settings.colors.after_less_price }};
}

span.custom-label.badge.badge-primary {
    background-color: {{ settings.colors.custom_label_bg }};
    color: {{ settings.colors.custom_label_text }};
}

/* End of JSON settings */

/* Product page border colour */

.select-option label {
    border: none;
}

.box-radio-option input[type='radio']:checked+label {
    border-color: {{ settings.colors.buy_now_btn_border }};
}

.box-radio-option label {
    border: 1px solid #ccc;
}

.box-radio-option label.disabled {
    border: 1px solid #e1e1e1;
    color: #e1e1e1;
}

.box-radio-option label.disabled:before {
    border: 1px solid #e1e1e1;
}

/* End of product page border colour */

.navbar-collapse-custom {
    position: absolute;
    top: 96px;
    right: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    transition: all 0.3s ease;
    display: block;
    z-index: 9999;
    text-align: center;
}

.navbar-collapse-custom.collapsing {
    height: auto !important;
    margin-right: 50%;
    transition: all 0.3s ease;
    display: block;
}

.navbar-collapse-custom.show {
    right: 0;
}

/* homepage navbar */
.navbar-bg-custom {
    background-color: {{ settings.colors.navbar_bg }};
    opacity: 0.9;
}

/* default navbar */
.nav-bg-custom {
    background-color: {{ settings.colors.nav_bg }};
}

/* Not PC CSS */

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-toggler, .navbar-expand-lg .nav-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
        display: block;
        padding: .5rem 1rem;
    }

    #navbar .dropdown-menu {
        text-align: left;
    }

    /* Search TextBox */

    .search-bar-content {
        padding: 0 6rem;
    }

    .search-bar-form {
        max-width: 40rem;
        width: 100%;
    }

}

@media (max-width: 992px) {

    .navbar-collapse {
        position: absolute;
        top: 96px;
        right: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.3s ease;
        display: block;
        text-align: center;
        z-index: 1;
    }

    .navbar-collapse.show {
        right: 0;
    }

    .navbar-collapse .navbar-link + .dropdown-menu {
        border-top: 1px solid {{ settings.colors.navbar_link }} !important;
        border-bottom: 1px solid {{ settings.colors.navbar_link }} !important;
    }

    .navbar-collapse .nav-link + .dropdown-menu {
        border-top: 1px solid {{ settings.colors.nav_link }} !important;
        border-bottom: 1px solid {{ settings.colors.nav_link }} !important;
    }

    /* homepage navbar */
    .navbar-bg {
        background-color: {{ settings.colors.navbar_bg }};
        opacity: 0.9;
    }

    /* default navbar */
    .nav-bg {
        background-color: {{ settings.colors.nav_bg }};
    }

    .search, .searchs {
        padding: .5rem .4rem;
    }

    .search-icon {
	    margin-bottom: -2px;
    }

    .fa-shopping-cart{
        margin-top: 0;
        margin-bottom: 5px;
    }

    /* Dropdown menu */
	#navbar .dropdown-submenu {
        padding: 0 1.5rem 0 1.5rem !important;
    }

	#navbar .dropdown-menu {
        width: 100%;
        padding: 0.5rem 0 !important;
        text-align: center;
    }

    #navbar.navbar-collapse-custom .dropdown-menu {
        text-align: center;
    }

}

@media (max-width: 768px) {
    .btn-delete-cart {
        display: unset;
    }
}

/* Mobile css */

@media (max-width: 576px) {

    .header{
        padding-top:0;
    }

    .navbar-collapse.collapsing {
        height: auto !important;
        margin-right: 50%;
        transition: all 0.3s ease;
        display: block;
    }

    .navbar-collapse.show {
        right: 0;
    }

    /* homepage navbar */
    .navbar-bg {
        background-color: {{ settings.colors.navbar_bg }};
        opacity: 0.9;
    }

    /* default navbar */
    .nav-bg {
        background-color: {{ settings.colors.nav_bg }};
    }

    .navbar-collapse-custom {
        text-align: center;
    }

    .nav-collapse-icon {
		width: 20%;
    }

	.nav-logo-icon {
        width: 60%;
		text-align: center;
	}

	.nav-search-cart-icon {
		width: 20%;
		text-align: right;
	}

    a.fas.fa-shopping-cart {
        padding: 0em;
    }

    .fa-shopping-cart{
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    /* Dropdown menu */
	
	#navbar .dropdown-menu, #navbar.navbar-collapse-custom .dropdown-menu {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    .search-icon {
	    margin-bottom: -3px;
    }

	/* Cart icon */

    .cart i {
	    width: 20px;
    }

    /* Search TextBox */

    .input-search-products {
        height: 45px;
    }

    #buttonSearch {
        height: 45px;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .logo{
        text-align:center;
    }

    .btn-continue {
        width: 100%;
        margin-bottom: 1em;
    }

    .btn-checkout {
        width: 100%;
        margin-top: 1em;
    }

    .top-menu {
        margin-bottom: .5em;
    }

    /* Homepage */

    #homepage-slideshow.mobile-have {
        display: none;
    }

    #homepage-slideshow-mobile {
        display: block;
    }

    .large-banner, .featured-banner {
        margin-bottom: 1em;
    }

    h2.section-title{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .product {
        padding-bottom: 0;
    }

    .slider-wrapper{
        padding:0;
    }

    h1.title {
        margin-bottom: 0.5em;
        text-align: center;
    }

    .product-card.flex-4, .product-card.flex-3, .product-card.flex-2 {
        flex: 1 44%;
        padding: 2%;
    }

    .checkout-padding {
        padding-bottom: 5em !important;
    }

    .product .price {
        text-align: center;
    }

    .extra {
        text-align: center;
    }

    /* Image gallery */

    ol.carousel-thumbnails {
        text-align: center;
        padding: 0 1em;
    }

    li.thumb-gallery {
        width: auto;
    }

    li.thumb-gallery img {
        width: 35px;
    }

    .bundle-thumbnail {
        width: 80px;
        height: 80px;
    }

    img.cart-list-thumbs {
        max-width: 40px;
    }

    .empty-cart-list-thumbs {
        width: 40px;
    }

    .btn-delete-cart {
        display: unset;
    }

    a.btn-box {
        width: 100%;
        margin-bottom: 1em;
    }

    .btn-custom-add-to-cart .btn.disabled, .btn:disabled {
        background-color: #cecece;
        color: #fff;
        opacity: 1;
    }

    .cart-info {
        text-align: center;
        padding: 0;
    }

    .cart-action {
        font-size: 16px;
    }

    .description {
        margin-top: 2em;
    }

    .description p, .description ul, .description ol {
        font-size: 16px;
    }

    /* Social proof */

    .social-proofs {
        width: 100%;
    }

    .social-proof {
        width: 100%;
        margin: 0;
        border-radius: 0;
        z-index: 20;
    }

    .social-proof .box-content {
        text-align: left;
    }

    /* Footer */

    .footer {
        padding: 1em 0;
    }

    p.credit, p.powered {
        display: block;
        margin-bottom: 0;
    }

    hr.footer-hr {
        display:none;
    }

    .form-button.sticky {
        margin-top: 1em;
        position: fixed;
        padding: 0.5em;
        background: #f1f1f1;
        bottom: 0;
        width: 100%;
        margin-left: -15px;
        z-index: 9999;
    }

    .form-button.sticky .btn-custom-buy-now-combo, .form-button.sticky .btn-custom-add-to-cart-combo {
        float: left;
        width: 50%;
        margin-bottom: 0em;
    }

    .form-button .btn-custom-buy-now-combo, .form-button .btn-custom-buy-now-combo {
        width: 100%;
        float: unset;
        margin-bottom: 1em;
    }

    .form-button.sticky .btn-custom-buy-now-combo {
        border: 0;
    }

    .form-button.sticky .btn-custom-add-to-cart-combo {
        border: 0;
    }

    .form-button .btn-custom-add-to-cart-combo {
        border: 1px solid;
    }

    .whatsapp-mobile {
        margin-bottom: 3em;
    }

    .hero-banner-wrapper {
        min-height: 100vh;
    }

    section.homepage-banner span.carousel-control-next-icon, section.homepage-banner span.carousel-control-prev-icon {
        display: none;
    }

    .product-info h3{
        font-size: 16px;
    }

    .product-info span.price {
        font-size: 14px;
    }
}
/* End of default theme settings */

/* Temporary Css */

#u_content_button_1 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; } #u_content_button_2 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; } #u_content_button_3 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; } #u_content_button_4 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; } #u_content_button_5 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; } #u_content_button_6 a:hover { color: #FFFFFF !important; background-color: #3AAEE0 !important; }
.u-row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
}

.u-row .u-col {
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.u-row .u-col.u-col-50 {
    flex: 0 0 50%;
    max-width: 50%;
}

.u-row .u-col.u-col-100 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (max-width: 767px) {
    .u-row:not(.no-stack) {
    flex-wrap: wrap;
    }

    .u-row:not(.no-stack) .u-col {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

.layout-mobile {
    .u-row:not(.no-stack) {
        flex-wrap: wrap;
    }

    .u-row:not(.no-stack) .u-col {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

/* End of Temporary Css */

/* Custom CSS */

{% if settings.options.custom_css %}

{{ settings.options.custom_css }}

{% endif %}

/* End of custom css */

/* Insert your custom css below */

/* Insert your custom css below */